<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionProcessOrigin</key>
	<string>chapterNearVisitor</string>
	<key>layoutAsProxy</key>
	<string>constraintVariableTop</string>
	<key>parallelSubscriptionPressure</key>
	<string>hashContainCommand</string>
	<key>reducerBesideObserver</key>
	<string>collectionModeStyle</string>
	<key>resourceInterpreterLocation</key>
	<string>reactiveHeroBottom</string>
	<key>riverpodFrameworkTheme</key>
	<string>tabbarThroughPrototype</string>
	<key>textThroughPrototype</key>
	<string>sinkForParam</string>
	<key>unsortedIsolateCoord</key>
	<string>bulletPerActivity</string>
</dict>
</plist>
