<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintThroughFunction</key>
	<string>activeCoordinatorResponse</string>
	<key>labelAtKind</key>
	<string>sceneAlongFlyweight</string>
	<key>stepExceptScope</key>
	<string>nativeInstructionBrightness</string>
	<key>utilUntilTemple</key>
	<string>nextTickerVisible</string>
</dict>
</plist>
