<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonSystemState</key>
	<string>utilVersusPlatform</string>
	<key>graphicWorkIndex</key>
	<string>liteResponseMode</string>
	<key>inheritedZoneTail</key>
	<string>eventThroughStyle</string>
	<key>prevCheckboxValidation</key>
	<string>convolutionInterpreterKind</string>
</dict>
</plist>
