<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFlyweightIndex</key>
	<string>binaryFromMediator</string>
	<key>cupertinoLoopAlignment</key>
	<string>spriteCommandOrientation</string>
	<key>curveWorkResponse</key>
	<string>channelsObserverPressure</string>
	<key>normBridgeTail</key>
	<string>beginnerBuilderLocation</string>
	<key>otherTextSkewy</key>
	<string>animationPatternSkewx</string>
	<key>priorityTaskInterval</key>
	<string>easyCaptionSkewx</string>
	<key>transformerOfFacade</key>
	<string>viewAtValue</string>
</dict>
</plist>
