<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardObserverBrightness</key>
	<string>chapterStyleDistance</string>
	<key>cubitAlongInterpreter</key>
	<string>nodeWithoutScope</string>
	<key>dynamicDecorationRotation</key>
	<string>cupertinoCommandInterval</string>
	<key>mediaqueryAlongJob</key>
	<string>nextCurveDelay</string>
	<key>shaderStyleBrightness</key>
	<string>topicOrAdapter</string>
	<key>titleExceptSingleton</key>
	<string>utilDuringMethod</string>
</dict>
</plist>
