<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelUntilProxy</key>
	<string>zoneJobTop</string>
	<key>decorationDecoratorBehavior</key>
	<string>dependencyShapeOffset</string>
	<key>invisibleThreadTheme</key>
	<string>utilAtKind</string>
	<key>mediaAtPattern</key>
	<string>equipmentVersusVisitor</string>
	<key>petPrototypeBehavior</key>
	<string>directlySinkState</string>
	<key>skinScopeSize</key>
	<string>swiftActionCount</string>
	<key>textureByWork</key>
	<string>missionObserverRight</string>
	<key>zoneAwayMediator</key>
	<string>observerJobTag</string>
</dict>
</plist>
