<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushInObserver</key>
	<string>tweenPhaseFormat</string>
	<key>declarativeScreenInset</key>
	<string>protocolContainBridge</string>
	<key>euclideanColumnTail</key>
	<string>layoutStageHead</string>
	<key>immutableContainerRate</key>
	<string>prevThemeVelocity</string>
	<key>intuitiveTweenSkewx</key>
	<string>globalTopicPressure</string>
</dict>
</plist>
