<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSpecifierDistance</key>
	<string>discardedRouteRight</string>
	<key>mediaFlyweightSkewx</key>
	<string>missedCubitFormat</string>
	<key>rowAwayTier</key>
	<string>sceneAwayAdapter</string>
	<key>sampleInterpreterDelay</key>
	<string>capacitiesOperationFlags</string>
	<key>standaloneExponentPadding</key>
	<string>groupOutsideParameter</string>
	<key>synchronousChartHue</key>
	<string>ignoredCompositionSkewy</string>
	<key>topicWithForm</key>
	<string>singletonFrameworkAcceleration</string>
</dict>
</plist>
