<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleWorkRight</key>
	<string>signAwaySystem</string>
	<key>optimizerInsideContext</key>
	<string>dropdownbuttonValueHead</string>
	<key>positionStyleStyle</key>
	<string>enabledGetxInset</string>
	<key>reactiveBufferName</key>
	<string>integerSinceProcess</string>
	<key>riverpodCycleState</key>
	<string>gridviewThanNumber</string>
</dict>
</plist>
