<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerContextContrast</key>
	<string>blocAwayActivity</string>
	<key>delegateWithPlatform</key>
	<string>alertVarAlignment</string>
	<key>drawerMementoVelocity</key>
	<string>rapidDrawerSpeed</string>
	<key>gateFrameworkSaturation</key>
	<string>scrollableThemeAcceleration</string>
	<key>globalInteractorVisible</key>
	<string>inactiveConstraintMargin</string>
	<key>positionAboutPrototype</key>
	<string>lossModeFrequency</string>
	<key>publicTouchTail</key>
	<string>marginBridgeSaturation</string>
</dict>
</plist>
