<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonAnimatedcontainerInterval</key>
	<string>presenterShapeDuration</string>
	<key>cubeAboutMode</key>
	<string>prismaticMetadataScale</string>
	<key>declarativeDependencyInterval</key>
	<string>finalBoxPadding</string>
	<key>eagerSceneOrigin</key>
	<string>sineIncludeVar</string>
	<key>equipmentAroundBridge</key>
	<string>fixedConfigurationIndex</string>
	<key>logarithmAwayEnvironment</key>
	<string>methodScopeRate</string>
	<key>painterForContext</key>
	<string>decorationByProcess</string>
	<key>routerIncludeNumber</key>
	<string>grainJobEdge</string>
	<key>sliderActionValidation</key>
	<string>builderWithParam</string>
	<key>usageContainAdapter</key>
	<string>rapidMultiplicationFlags</string>
</dict>
</plist>
