<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveUtilSaturation</key>
	<string>labelUntilPattern</string>
	<key>invisibleEffectAlignment</key>
	<string>disparateContainerColor</string>
	<key>protectedLabelForce</key>
	<string>metadataCompositeMargin</string>
	<key>responsivePainterCenter</key>
	<string>managerByDecorator</string>
	<key>shaderAgainstFacade</key>
	<string>scrollParamFrequency</string>
	<key>statelessViaStrategy</key>
	<string>responseAmongFacade</string>
	<key>tweenFrameworkShape</key>
	<string>inkwellVariableAcceleration</string>
</dict>
</plist>
