<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocSystemColor</key>
	<string>mobxByCycle</string>
	<key>bufferNumberTail</key>
	<string>greatSlashDirection</string>
	<key>custompaintFlyweightAlignment</key>
	<string>viewChainOpacity</string>
	<key>dimensionBeyondProcess</key>
	<string>directMethodRate</string>
	<key>intermediateAlphaRotation</key>
	<string>composableCharacterOffset</string>
	<key>painterUntilBridge</key>
	<string>oldColumnDuration</string>
	<key>priorRoleBorder</key>
	<string>permanentNotificationForce</string>
	<key>responseAndShape</key>
	<string>indicatorFlyweightContrast</string>
	<key>sinkCommandDirection</key>
	<string>intuitiveNavigationLocation</string>
	<key>stackNumberDuration</key>
	<string>playbackSinceFramework</string>
</dict>
</plist>
