<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletBesideStage</key>
	<string>layoutDecoratorForce</string>
	<key>mobxActionBound</key>
	<string>particleAdapterFeedback</string>
	<key>modalAroundContext</key>
	<string>frameFromSingleton</string>
	<key>offsetMediatorAppearance</key>
	<string>scrollDuringParam</string>
	<key>sliderAgainstParameter</key>
	<string>histogramVersusForm</string>
	<key>titleFunctionVisible</key>
	<string>reductionParameterCenter</string>
</dict>
</plist>
