<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interfaceProxyTop</key>
	<string>materialFromChain</string>
	<key>mutableActivityTint</key>
	<string>scaffoldAgainstAdapter</string>
	<key>navigatorByMode</key>
	<string>scrollThroughState</string>
	<key>promiseInLevel</key>
	<string>composablePositionMode</string>
	<key>resolverAmongForm</key>
	<string>assetAsPlatform</string>
	<key>resultNearVisitor</key>
	<string>specifyGraphBehavior</string>
	<key>rowAmongWork</key>
	<string>compositionalSignVelocity</string>
	<key>widgetOutsideNumber</key>
	<string>vectorBufferBound</string>
</dict>
</plist>
