<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyDelegateScale</key>
	<string>errorBesideMethod</string>
	<key>geometricCubitDensity</key>
	<string>inactiveResolverHead</string>
	<key>imageFacadeShade</key>
	<string>protectedSpriteContrast</string>
	<key>mainApertureSize</key>
	<string>finalRichtextHue</string>
	<key>particleBesideNumber</key>
	<string>isolateAroundEnvironment</string>
	<key>priorityChainSize</key>
	<string>routeAroundVar</string>
	<key>serviceFormSkewy</key>
	<string>layerLikeDecorator</string>
	<key>textureWorkName</key>
	<string>imperativeStoreStyle</string>
</dict>
</plist>
