<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileArithmeticForce</key>
	<string>capacitiesFormBehavior</string>
	<key>associatedAnimationValidation</key>
	<string>blocSingletonStatus</string>
	<key>blocOperationFeedback</key>
	<string>iterativeNibSkewy</string>
	<key>catalystTaskBehavior</key>
	<string>responsiveLabelInterval</string>
	<key>cycleAgainstMediator</key>
	<string>compositionObserverMomentum</string>
	<key>firstFutureSpeed</key>
	<string>zoneMementoFlags</string>
	<key>indicatorOrType</key>
	<string>sineActionCount</string>
	<key>musicFormRate</key>
	<string>resourceForSystem</string>
	<key>navigationInsideInterpreter</key>
	<string>elasticLayoutInset</string>
</dict>
</plist>
