<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFormMomentum</key>
	<string>sensorBufferOffset</string>
	<key>behaviorMethodVelocity</key>
	<string>greatMovementType</string>
	<key>instructionAroundStrategy</key>
	<string>prismaticSignatureTail</string>
	<key>localizationFormMargin</key>
	<string>flexibleLocalizationScale</string>
	<key>materialGiftCoord</key>
	<string>controllerShapeTransparency</string>
	<key>menuMementoShade</key>
	<string>unsortedInjectionMode</string>
	<key>routerLikeStrategy</key>
	<string>flexLevelVisibility</string>
	<key>stackAboutWork</key>
	<string>autoSineInset</string>
</dict>
</plist>
