<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureTypeTheme</key>
	<string>zoneFormDistance</string>
	<key>boxshadowStyleMode</key>
	<string>missedConstraintVisibility</string>
	<key>consultativeGraphStatus</key>
	<string>beginnerLogarithmInteraction</string>
	<key>displayableAllocatorAlignment</key>
	<string>operationIncludeBridge</string>
	<key>managerCompositeEdge</key>
	<string>blocThanParameter</string>
	<key>prismaticBufferFormat</key>
	<string>cartesianSingletonStyle</string>
</dict>
</plist>
