<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentTextTension</key>
	<string>servicePhaseInteraction</string>
	<key>handlerSingletonName</key>
	<string>segueParamLeft</string>
	<key>heapPhaseBottom</key>
	<string>widgetCompositeFeedback</string>
	<key>interfaceAboutLayer</key>
	<string>previewAmongInterpreter</string>
	<key>masterWithNumber</key>
	<string>concurrentListenerKind</string>
	<key>specifierUntilStrategy</key>
	<string>providerIncludeMediator</string>
</dict>
</plist>
