<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAmongPlatform</key>
	<string>serviceWithLevel</string>
	<key>brushActivityAlignment</key>
	<string>disparateCallbackShade</string>
	<key>hardAsyncRight</key>
	<string>queueThroughPhase</string>
	<key>sessionPatternTension</key>
	<string>awaitAgainstStage</string>
	<key>signatureOutsideBuffer</key>
	<string>subsequentBaselineShade</string>
</dict>
</plist>
