<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectBufferFormat</key>
	<string>disparateConfigurationDirection</string>
	<key>grayscaleChainTransparency</key>
	<string>concreteSkinSpacing</string>
	<key>intuitiveSpriteCenter</key>
	<string>resolverMediatorVisibility</string>
	<key>observerTierName</key>
	<string>inheritedLayoutStatus</string>
	<key>relationalFlexVelocity</key>
	<string>queueFlyweightMode</string>
</dict>
</plist>
