<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedButtonOffset</key>
	<string>sortedRouteDepth</string>
	<key>blocCompositeBrightness</key>
	<string>missedGiftForce</string>
	<key>capsuleProcessTag</key>
	<string>firstModalEdge</string>
	<key>consultativeDecorationCount</key>
	<string>equalizationFrameworkLocation</string>
	<key>iterativeFactoryRotation</key>
	<string>priorNodeSize</string>
	<key>lostDimensionName</key>
	<string>titleBridgeLeft</string>
	<key>petNearBridge</key>
	<string>configurationIncludeBuffer</string>
	<key>sinkWithValue</key>
	<string>intensityAboutJob</string>
	<key>specifierNearAction</key>
	<string>multiPositionLeft</string>
	<key>transitionVariableStyle</key>
	<string>tweenThroughAction</string>
</dict>
</plist>
