<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerEnvironmentInteraction</key>
	<string>resolverBufferMomentum</string>
	<key>similarMultiplicationFormat</key>
	<string>desktopDecorationOffset</string>
	<key>standaloneSkinShape</key>
	<string>radiusNearKind</string>
	<key>timerInsideTier</key>
	<string>swiftContainParam</string>
</dict>
</plist>
