<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSymbolPadding</key>
	<string>specifyIntensitySkewx</string>
	<key>adaptiveSensorMargin</key>
	<string>iconUntilStage</string>
	<key>euclideanCursorIndex</key>
	<string>transitionWithOperation</string>
	<key>fragmentEnvironmentAcceleration</key>
	<string>localizationCycleSaturation</string>
	<key>gridForState</key>
	<string>momentumMementoTail</string>
	<key>nodeAboutBuffer</key>
	<string>factoryBesideVar</string>
	<key>numericalRequestType</key>
	<string>resourceWithShape</string>
	<key>playbackThroughDecorator</key>
	<string>inkwellKindState</string>
	<key>smallLossInterval</key>
	<string>uniqueListenerIndex</string>
	<key>sustainableGroupSaturation</key>
	<string>significantCoordinatorShade</string>
</dict>
</plist>
