<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitratePhaseColor</key>
	<string>challengeStructureBorder</string>
	<key>contractionMethodAcceleration</key>
	<string>autoRemainderCoord</string>
	<key>discardedInstructionFormat</key>
	<string>layerShapeDuration</string>
	<key>flexAsVariable</key>
	<string>monsterOutsideStructure</string>
	<key>normalDelegateLeft</key>
	<string>graphicParamStyle</string>
	<key>permissiveDescriptorDepth</key>
	<string>delegateFlyweightSpacing</string>
	<key>progressbarOutsideTemple</key>
	<string>sequentialTextBrightness</string>
	<key>retainedTaskTint</key>
	<string>particleInActivity</string>
	<key>smallBaseRotation</key>
	<string>dialogsVarVisible</string>
</dict>
</plist>
