<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphNumberTail</key>
	<string>customGramTail</string>
	<key>inactivePlaybackCount</key>
	<string>entityDuringMethod</string>
	<key>normalAwaitDuration</key>
	<string>documentFromInterpreter</string>
	<key>secondPresenterSize</key>
	<string>statelessTypeDirection</string>
	<key>textSinceParam</key>
	<string>asyncBeyondPattern</string>
	<key>threadTypeContrast</key>
	<string>functionalScrollInset</string>
</dict>
</plist>
