<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAroundLevel</key>
	<string>effectContainMediator</string>
	<key>callbackWithEnvironment</key>
	<string>drawerThanFacade</string>
	<key>firstMissionSkewy</key>
	<string>subtleRichtextPadding</string>
	<key>labelPatternTension</key>
	<string>matrixInsideMediator</string>
	<key>particlePhaseEdge</key>
	<string>bulletInsideLevel</string>
	<key>precisionInterpreterLeft</key>
	<string>richtextFormRotation</string>
	<key>providerObserverOffset</key>
	<string>compositionWithTier</string>
	<key>serviceContextFormat</key>
	<string>decorationTaskOffset</string>
	<key>sinkTempleHead</key>
	<string>alignmentContainProxy</string>
	<key>viewAsLevel</key>
	<string>arithmeticResolverVisibility</string>
</dict>
</plist>
