<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAsScope</key>
	<string>desktopApertureIndex</string>
	<key>animatedPageviewOpacity</key>
	<string>queryPhaseContrast</string>
	<key>baseAsTemple</key>
	<string>blocNearSingleton</string>
	<key>groupScopeKind</key>
	<string>significantDependencyTag</string>
	<key>localSceneTheme</key>
	<string>anchorTempleForce</string>
	<key>mobxAmongCycle</key>
	<string>textContainForm</string>
	<key>pointActivityLocation</key>
	<string>arithmeticTypeEdge</string>
	<key>prismaticSignatureMomentum</key>
	<string>cacheAmongStage</string>
	<key>reactiveDelegateDuration</key>
	<string>crudeFrameScale</string>
	<key>rowSingletonContrast</key>
	<string>usecaseDuringActivity</string>
</dict>
</plist>
