<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousPresenterPosition</key>
	<string>basicLayoutSkewx</string>
	<key>buttonStructureRight</key>
	<string>popupVariableSpacing</string>
	<key>cartesianGrayscaleFormat</key>
	<string>inheritedActionMode</string>
	<key>chartProcessRate</key>
	<string>navigatorBridgeTension</string>
	<key>interactiveAnimationMode</key>
	<string>subscriptionAndType</string>
	<key>localMemberSize</key>
	<string>flexibleDecorationScale</string>
	<key>publicBoxshadowRotation</key>
	<string>eventAsAction</string>
	<key>scenePerFramework</key>
	<string>buttonNumberType</string>
	<key>skinDuringType</key>
	<string>eventAdapterBorder</string>
	<key>usedMaterialDensity</key>
	<string>durationOrKind</string>
</dict>
</plist>
