<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsUntilDecorator</key>
	<string>usageOrSingleton</string>
	<key>layerTypeMargin</key>
	<string>roleTierMode</string>
	<key>layoutTierEdge</key>
	<string>paddingKindOrigin</string>
	<key>listenerBesideLevel</key>
	<string>descriptionCompositeDelay</string>
	<key>nextBitrateTension</key>
	<string>nodeIncludeSystem</string>
	<key>observerAwayTier</key>
	<string>lostButtonDensity</string>
	<key>previewContainTask</key>
	<string>progressbarStrategyBorder</string>
	<key>secondLocalizationVisibility</key>
	<string>permanentParticleFormat</string>
	<key>significantNotificationRight</key>
	<string>projectionVersusContext</string>
</dict>
</plist>
