<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFunctionAcceleration</key>
	<string>spriteAlongChain</string>
	<key>crucialTransitionOpacity</key>
	<string>containerMethodOrigin</string>
	<key>enabledFutureSkewx</key>
	<string>commandAwayFlyweight</string>
	<key>gramSystemInteraction</key>
	<string>aspectratioVersusLevel</string>
	<key>positionAndInterpreter</key>
	<string>alignmentDecoratorBorder</string>
	<key>precisionCompositeContrast</key>
	<string>labelJobBrightness</string>
	<key>retainedControllerBorder</key>
	<string>characterActionVelocity</string>
</dict>
</plist>
