<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveProxyBottom</key>
	<string>effectOperationCoord</string>
	<key>grainCommandDelay</key>
	<string>disabledFutureDistance</string>
	<key>subpixelTierEdge</key>
	<string>configurationStageSkewx</string>
</dict>
</plist>
