<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTextAppearance</key>
	<string>sliderAtKind</string>
	<key>delegateLikeWork</key>
	<string>usecaseVarColor</string>
	<key>intuitiveInstructionVelocity</key>
	<string>largeCellAlignment</string>
	<key>navigatorWorkFrequency</key>
	<string>delicateLabelInteraction</string>
	<key>pointOfKind</key>
	<string>injectionCompositeVisibility</string>
	<key>singleFeatureSpacing</key>
	<string>firstPlateDirection</string>
	<key>staticTaskVisibility</key>
	<string>errorAtStage</string>
</dict>
</plist>
