<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableFlexType</key>
	<string>actionVisitorLocation</string>
	<key>customizedBaseDirection</key>
	<string>activeNavigatorRotation</string>
	<key>intensityChainBorder</key>
	<string>toolFromType</string>
	<key>localizationPlatformVisibility</key>
	<string>notificationTempleType</string>
	<key>notifierViaVar</key>
	<string>methodBeyondTemple</string>
	<key>sizedboxAlongParameter</key>
	<string>nodeIncludeFunction</string>
</dict>
</plist>
