<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialConstraintScale</key>
	<string>streamAboutForm</string>
	<key>delegateAlongValue</key>
	<string>tappableDescriptorTheme</string>
	<key>fusedOptimizerPressure</key>
	<string>sinkAboutFlyweight</string>
	<key>offsetFromLevel</key>
	<string>requestAtContext</string>
	<key>providerForVisitor</key>
	<string>draggableGraphicScale</string>
	<key>resilientModalTop</key>
	<string>scaffoldFromStyle</string>
</dict>
</plist>
