<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintInsideState</key>
	<string>signSinceCommand</string>
	<key>directlyFeatureColor</key>
	<string>chapterUntilObserver</string>
	<key>eagerBlocStatus</key>
	<string>crucialRichtextPadding</string>
	<key>projectScopeResponse</key>
	<string>navigatorVariableSaturation</string>
</dict>
</plist>
