<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartFormMomentum</key>
	<string>resizableTransitionFrequency</string>
	<key>constraintSinceChain</key>
	<string>canvasOfMediator</string>
	<key>cubitAwayNumber</key>
	<string>inkwellTierCenter</string>
	<key>drawerBesideChain</key>
	<string>bufferObserverLeft</string>
	<key>rowLikeStructure</key>
	<string>curveContainValue</string>
</dict>
</plist>
