<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTextureContrast</key>
	<string>notificationStateHead</string>
	<key>descriptionIncludeStrategy</key>
	<string>statelessAllocatorResponse</string>
	<key>explicitBlocTransparency</key>
	<string>adaptiveDimensionResponse</string>
	<key>factoryLikeNumber</key>
	<string>referenceContainAdapter</string>
	<key>prevRichtextMode</key>
	<string>petBridgeKind</string>
</dict>
</plist>
