<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAsParam</key>
	<string>descriptorVariableDistance</string>
	<key>durationScopeRate</key>
	<string>tabviewUntilTemple</string>
	<key>dynamicBuilderFormat</key>
	<string>discardedUsageSkewx</string>
	<key>equipmentFlyweightCoord</key>
	<string>durationIncludeWork</string>
	<key>exceptionVisitorRight</key>
	<string>getxFromMethod</string>
	<key>functionalLabelAlignment</key>
	<string>intensityVarTheme</string>
	<key>layoutPerPhase</key>
	<string>previewFacadeForce</string>
	<key>persistentExponentTop</key>
	<string>methodKindBorder</string>
	<key>specifierByJob</key>
	<string>greatListenerDensity</string>
	<key>symmetricTextureFeedback</key>
	<string>accessoryProxyMomentum</string>
</dict>
</plist>
