<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedSubpixelColor</key>
	<string>delegateFlyweightBehavior</string>
	<key>futureOutsideProcess</key>
	<string>routeBeyondStage</string>
	<key>heroAroundSystem</key>
	<string>cursorCycleBehavior</string>
	<key>requestSinceDecorator</key>
	<string>cosineAgainstAdapter</string>
	<key>sharedInteractorAcceleration</key>
	<string>sizeScopeCount</string>
	<key>sizeAdapterContrast</key>
	<string>offsetVariableTint</string>
</dict>
</plist>
