<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAwayInterpreter</key>
	<string>challengeVersusShape</string>
	<key>bulletWithAdapter</key>
	<string>curveDecoratorDensity</string>
	<key>equalizationWithParameter</key>
	<string>protectedPlaybackTransparency</string>
	<key>featureParameterHue</key>
	<string>textfieldFunctionTail</string>
	<key>flexibleStreamTransparency</key>
	<string>sinkAgainstAction</string>
	<key>queueForMode</key>
	<string>compositionalStreamTint</string>
	<key>sequentialGrainType</key>
	<string>concurrentNodeOrigin</string>
</dict>
</plist>
