<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyOutsideParam</key>
	<string>requestAtState</string>
	<key>fixedStoreRate</key>
	<string>scaffoldBeyondMode</string>
	<key>gateFlyweightMargin</key>
	<string>accessibleEffectOrientation</string>
	<key>lazyAnimationBrightness</key>
	<string>statefulProviderTail</string>
	<key>mediumCatalystRate</key>
	<string>queryOfProxy</string>
	<key>normForWork</key>
	<string>discardedUsageDensity</string>
	<key>smallTernaryIndex</key>
	<string>painterModeRight</string>
</dict>
</plist>
