<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonForFunction</key>
	<string>ephemeralAppbarCoord</string>
	<key>multiplicationOfOperation</key>
	<string>grainActionAppearance</string>
	<key>newestAnimationStatus</key>
	<string>resultStrategyOrigin</string>
	<key>spineFunctionRate</key>
	<string>behaviorPatternDensity</string>
</dict>
</plist>
