<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableFutureStatus</key>
	<string>hardPopupSpacing</string>
	<key>radioAwayType</key>
	<string>parallelTaskBrightness</string>
	<key>radiusViaPattern</key>
	<string>optimizerParamHue</string>
	<key>repositoryTempleDepth</key>
	<string>significantTextDepth</string>
	<key>richtextModeDistance</key>
	<string>responseTaskRight</string>
	<key>stateInsideSystem</key>
	<string>spineFunctionTransparency</string>
	<key>tickerShapeCenter</key>
	<string>uniformSineFeedback</string>
	<key>titleOperationVelocity</key>
	<string>sessionWithMediator</string>
	<key>titleParameterTag</key>
	<string>storageCommandTransparency</string>
</dict>
</plist>
