<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerUntilObserver</key>
	<string>inkwellProcessInteraction</string>
	<key>crudePositionShape</key>
	<string>vectorPerContext</string>
	<key>dialogsStructureTail</key>
	<string>observerTempleHead</string>
	<key>disparateAnchorPressure</key>
	<string>momentumProcessInterval</string>
	<key>localizationViaShape</key>
	<string>controllerLikePhase</string>
	<key>radiusVersusVisitor</key>
	<string>pivotalProtocolShape</string>
	<key>segmentFacadeStyle</key>
	<string>subscriptionNearMemento</string>
	<key>zoneThroughAction</key>
	<string>radiusOfAdapter</string>
</dict>
</plist>
