<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuContainSingleton</key>
	<string>greatSpotOffset</string>
	<key>methodOperationTransparency</key>
	<string>viewWithoutPattern</string>
	<key>playbackVersusPlatform</key>
	<string>groupFromDecorator</string>
	<key>presenterAmongShape</key>
	<string>lastUnaryHead</string>
	<key>sinkWorkSpacing</key>
	<string>widgetVersusTemple</string>
	<key>statefulConvolutionOrientation</key>
	<string>singleEffectLocation</string>
</dict>
</plist>
