<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMemberPadding</key>
	<string>blocCommandSaturation</string>
	<key>borderFunctionResponse</key>
	<string>sensorStructureStatus</string>
	<key>listenerPrototypeRotation</key>
	<string>stampCompositeCoord</string>
	<key>nodeExceptProcess</key>
	<string>secondStorageState</string>
	<key>subsequentTitlePadding</key>
	<string>routeNearMethod</string>
</dict>
</plist>
