<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentQueryColor</key>
	<string>rowActivityHue</string>
	<key>dedicatedConfigurationTension</key>
	<string>batchActivityAppearance</string>
	<key>groupSinceType</key>
	<string>configurationVariableSize</string>
	<key>modelPerNumber</key>
	<string>petShapeName</string>
	<key>offsetOperationVelocity</key>
	<string>baseTierLocation</string>
	<key>popupAndShape</key>
	<string>currentLayoutSize</string>
	<key>positionKindShade</key>
	<string>immutableInterpolationCoord</string>
	<key>sensorTierAcceleration</key>
	<string>mobileParamFlags</string>
	<key>staticPreviewFrequency</key>
	<string>tickerUntilEnvironment</string>
	<key>viewContainOperation</key>
	<string>cellThroughMediator</string>
</dict>
</plist>
