<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAroundActivity</key>
	<string>sustainableTopicCoord</string>
	<key>brushVersusWork</key>
	<string>intermediateMenuOrigin</string>
	<key>cycleFromAction</key>
	<string>modulusAwayFlyweight</string>
	<key>explicitRouterName</key>
	<string>statefulIntensityAlignment</string>
</dict>
</plist>
