<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCustompaintIndex</key>
	<string>swiftExceptScope</string>
	<key>decorationOperationInteraction</key>
	<string>extensionSystemFeedback</string>
	<key>routeNumberMargin</key>
	<string>delicateLayoutTension</string>
	<key>statefulRadioOrigin</key>
	<string>mediocreCharacterRotation</string>
</dict>
</plist>
