<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedEqualizationHead</key>
	<string>catalystFacadeAcceleration</string>
	<key>nodeIncludePhase</key>
	<string>tweenVarType</string>
	<key>precisionAlongVar</key>
	<string>dimensionActivityOrigin</string>
	<key>previewDuringPattern</key>
	<string>typicalCanvasDelay</string>
	<key>sliderParamRate</key>
	<string>basicBehaviorSize</string>
	<key>substantialIntensityOrientation</key>
	<string>cycleStyleTint</string>
</dict>
</plist>
