<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheDespiteProxy</key>
	<string>heroNumberStyle</string>
	<key>containerVariableFormat</key>
	<string>gestureAlongVar</string>
	<key>lastLocalizationTint</key>
	<string>widgetAgainstAdapter</string>
	<key>methodAtKind</key>
	<string>nodeMementoEdge</string>
	<key>semanticConfigurationValidation</key>
	<string>normSinceMediator</string>
	<key>statelessObserverVisible</key>
	<string>respectiveWidgetFlags</string>
	<key>tabviewUntilDecorator</key>
	<string>lastSliderDistance</string>
	<key>transformerCycleTag</key>
	<string>chapterFlyweightOffset</string>
</dict>
</plist>
