<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocKindEdge</key>
	<string>scrollableDurationName</string>
	<key>explicitMethodForce</key>
	<string>providerNearKind</string>
	<key>isolateThanOperation</key>
	<string>containerTaskSpacing</string>
	<key>liteFlexDelay</key>
	<string>backwardOffsetBrightness</string>
	<key>playbackInsideProxy</key>
	<string>timerBeyondProxy</string>
	<key>rectBridgeTension</key>
	<string>concreteHashInterval</string>
</dict>
</plist>
