<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAlignmentPosition</key>
	<string>publicCurveHue</string>
	<key>commonChapterTension</key>
	<string>labelAwayChain</string>
	<key>consumerEnvironmentVelocity</key>
	<string>specifySliderOffset</string>
	<key>greatOptionContrast</key>
	<string>disparateCanvasStyle</string>
	<key>immutableTextureType</key>
	<string>methodDespiteStage</string>
	<key>mainTaskInteraction</key>
	<string>stampLikeTask</string>
	<key>navigationExceptObserver</key>
	<string>completerThanStrategy</string>
	<key>parallelSceneScale</key>
	<string>keySpecifierMargin</string>
	<key>protectedStreamOffset</key>
	<string>labelVariableDistance</string>
	<key>protocolAmongStructure</key>
	<string>taskProcessSkewx</string>
</dict>
</plist>
