<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderUntilProcess</key>
	<string>largeReductionRotation</string>
	<key>channelAlongMemento</key>
	<string>zoneIncludeMethod</string>
	<key>euclideanBrushSize</key>
	<string>observerAsForm</string>
	<key>labelFunctionDensity</key>
	<string>projectFromType</string>
	<key>layerNumberOrigin</key>
	<string>checkboxEnvironmentKind</string>
	<key>resolverBeyondStrategy</key>
	<string>mobileWidgetState</string>
</dict>
</plist>
