<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletStructureEdge</key>
	<string>durationTempleDensity</string>
	<key>draggableCardBorder</key>
	<string>threadAmongStage</string>
	<key>methodSinceCycle</key>
	<string>activatedAssetRight</string>
	<key>transitionInterpreterFormat</key>
	<string>taskShapeStyle</string>
</dict>
</plist>
