<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentOrWork</key>
	<string>chartTypeDirection</string>
	<key>animationOperationCount</key>
	<string>imperativeQueueBottom</string>
	<key>arithmeticProtocolOpacity</key>
	<string>diffableCoordinatorTail</string>
	<key>containerAtVar</key>
	<string>intuitiveChapterFrequency</string>
	<key>enabledTableSaturation</key>
	<string>unaryWorkSize</string>
	<key>intermediateSinkStatus</key>
	<string>dependencyExceptChain</string>
	<key>presenterWithWork</key>
	<string>consultativeConstraintCenter</string>
	<key>responseScopeBrightness</key>
	<string>animationBesideSingleton</string>
	<key>scalePatternCoord</key>
	<string>newestMediaPosition</string>
</dict>
</plist>
