<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderMediatorRight</key>
	<string>uniqueMemberDistance</string>
	<key>histogramStyleRate</key>
	<string>subscriptionBridgeVisibility</string>
	<key>originalConfigurationVisibility</key>
	<string>typicalTextState</string>
	<key>originalHandlerRate</key>
	<string>displayableModelAcceleration</string>
	<key>prismaticFutureTransparency</key>
	<string>viewMementoLocation</string>
	<key>seamlessServiceHead</key>
	<string>groupNumberRate</string>
	<key>specifierStyleBehavior</key>
	<string>dependencyIncludeAction</string>
	<key>temporaryRectContrast</key>
	<string>utilScopeKind</string>
</dict>
</plist>
