<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarThroughBridge</key>
	<string>declarativeCommandResponse</string>
	<key>aspectJobVisibility</key>
	<string>toolAlongDecorator</string>
	<key>momentumFunctionMomentum</key>
	<string>oldMapRotation</string>
	<key>routeInterpreterAppearance</key>
	<string>controllerThroughShape</string>
	<key>synchronousObserverFrequency</key>
	<string>controllerForOperation</string>
</dict>
</plist>
