<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorByFlyweight</key>
	<string>plateAndSystem</string>
	<key>assetOrStrategy</key>
	<string>alignmentWithoutProxy</string>
	<key>imperativeEffectIndex</key>
	<string>interpolationOrKind</string>
	<key>protectedSineOrientation</key>
	<string>visibleMaterialMomentum</string>
	<key>sophisticatedProtocolPadding</key>
	<string>cellFormInteraction</string>
	<key>textTierScale</key>
	<string>rowWithVariable</string>
	<key>textureThanLevel</key>
	<string>smallUnaryContrast</string>
</dict>
</plist>
