<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemWorkForce</key>
	<string>capacitiesChainRate</string>
	<key>interactorBridgeRight</key>
	<string>stateOutsideTier</string>
	<key>pinchableAppbarAcceleration</key>
	<string>permissiveSegmentOpacity</string>
</dict>
</plist>
