<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitContextKind</key>
	<string>offsetOutsideCommand</string>
	<key>boxContextFlags</key>
	<string>temporaryButtonAppearance</string>
	<key>consultativeAlignmentSpeed</key>
	<string>sinkOfPrototype</string>
	<key>crudeConstraintDelay</key>
	<string>precisionAboutPrototype</string>
	<key>keyExtensionOrientation</key>
	<string>associatedModelMargin</string>
	<key>materialStreamBound</key>
	<string>gemShapeFormat</string>
	<key>uniqueControllerTail</key>
	<string>utilExceptParameter</string>
	<key>widgetFrameworkState</key>
	<string>taskBridgeFormat</string>
</dict>
</plist>
