<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePresenterHue</key>
	<string>positionedTierCoord</string>
	<key>aspectCommandRate</key>
	<string>prevAwaitContrast</string>
	<key>callbackWorkType</key>
	<string>decorationLikeVisitor</string>
	<key>independentInjectionDelay</key>
	<string>agileSingletonShape</string>
	<key>memberWorkColor</key>
	<string>primaryCompleterTheme</string>
	<key>numericalFragmentSpacing</key>
	<string>modelBeyondLayer</string>
	<key>sortedSubpixelTop</key>
	<string>heapScopeIndex</string>
	<key>taskTaskBottom</key>
	<string>popupFrameworkCount</string>
	<key>threadSingletonSkewx</key>
	<string>factoryValueMode</string>
	<key>timerIncludeStage</key>
	<string>diversifiedSkirtVisibility</string>
</dict>
</plist>
