<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentWithTier</key>
	<string>cosinePerTemple</string>
	<key>clipperStageOrientation</key>
	<string>routeWithoutPattern</string>
	<key>collectionEnvironmentHead</key>
	<string>beginnerHistogramAcceleration</string>
	<key>dialogsVersusForm</key>
	<string>statefulBufferSpeed</string>
	<key>exceptionProxyLocation</key>
	<string>coordinatorExceptPattern</string>
	<key>extensionNumberFormat</key>
	<string>comprehensiveMediaqueryFormat</string>
	<key>gridViaState</key>
	<string>queryPrototypeRate</string>
	<key>optionNearPattern</key>
	<string>radiusCommandPosition</string>
	<key>sizeViaMode</key>
	<string>custompaintThroughAdapter</string>
</dict>
</plist>
