<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeKindDistance</key>
	<string>rectStyleTransparency</string>
	<key>diversifiedSinkSize</key>
	<string>durationSystemAcceleration</string>
	<key>radioAroundCommand</key>
	<string>referenceFunctionDuration</string>
	<key>scrollableCheckboxLeft</key>
	<string>unactivatedLabelSkewx</string>
	<key>usageAsTier</key>
	<string>positionPatternName</string>
</dict>
</plist>
