<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>otherStorePadding</key>
	<string>musicAmongTask</string>
	<key>previewAtFacade</key>
	<string>builderAndNumber</string>
	<key>providerForDecorator</key>
	<string>easyDimensionAppearance</string>
	<key>routerThanType</key>
	<string>canvasBeyondForm</string>
	<key>seamlessGraphIndex</key>
	<string>richtextStyleAcceleration</string>
</dict>
</plist>
