<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocLayerOrigin</key>
	<string>toolObserverTop</string>
	<key>gridFromState</key>
	<string>transitionDecoratorTag</string>
	<key>resolverContextName</key>
	<string>pointNumberTransparency</string>
	<key>signAsParameter</key>
	<string>marginPlatformRotation</string>
</dict>
</plist>
