<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleSingletonSize</key>
	<string>boxshadowBufferRate</string>
	<key>collectionViaProcess</key>
	<string>layerMementoSize</string>
	<key>coordinatorMediatorHue</key>
	<string>pinchableExponentSkewx</string>
	<key>durationBesideFlyweight</key>
	<string>materialOfTemple</string>
	<key>hashStyleValidation</key>
	<string>animatedChannelsContrast</string>
	<key>interactiveSignatureName</key>
	<string>frameSystemCoord</string>
	<key>observerStageDistance</key>
	<string>relationalMemberDistance</string>
	<key>opaqueUtilState</key>
	<string>adaptiveReferenceRate</string>
	<key>resultAtChain</key>
	<string>oldPresenterInteraction</string>
</dict>
</plist>
