<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAmongComposite</key>
	<string>missedCurveBrightness</string>
	<key>asyncTaskIndex</key>
	<string>cycleAboutVar</string>
	<key>flexAtComposite</key>
	<string>momentumStageScale</string>
	<key>gestureBySingleton</key>
	<string>invisiblePriorityOrientation</string>
	<key>singletonActionFormat</key>
	<string>curveMediatorLeft</string>
	<key>skinAboutOperation</key>
	<string>factoryFlyweightBrightness</string>
</dict>
</plist>
