<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousBorderDuration</key>
	<string>hashExceptDecorator</string>
	<key>completerAlongVisitor</key>
	<string>buttonCycleFlags</string>
	<key>concreteMultiplicationTransparency</key>
	<string>actionAgainstParam</string>
	<key>customChapterInset</key>
	<string>beginnerBoxshadowValidation</string>
	<key>cycleVersusValue</key>
	<string>specifyDimensionVelocity</string>
	<key>matrixPerInterpreter</key>
	<string>specifyThemeShape</string>
	<key>navigationParameterSize</key>
	<string>instructionAlongProxy</string>
	<key>opaqueStorageDirection</key>
	<string>sharedCompleterBound</string>
	<key>requestPlatformStyle</key>
	<string>disabledScrollForce</string>
	<key>tweenProxyColor</key>
	<string>declarativePageviewRotation</string>
</dict>
</plist>
