<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPhaseValidation</key>
	<string>touchValueMargin</string>
	<key>rowKindCoord</key>
	<string>getxWorkOffset</string>
	<key>signTypeHead</key>
	<string>cubitFrameworkLocation</string>
	<key>unsortedIsolateSaturation</key>
	<string>immutableLabelRate</string>
	<key>workflowWithMediator</key>
	<string>variantTempleAcceleration</string>
</dict>
</plist>
