<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeSegueAppearance</key>
	<string>labelPatternSkewy</string>
	<key>featureByMemento</key>
	<string>modelExceptVar</string>
	<key>immutableDocumentVisibility</key>
	<string>positionAroundProcess</string>
	<key>kernelActionTop</key>
	<string>layerDuringKind</string>
	<key>mediaThanFlyweight</key>
	<string>sinkAgainstForm</string>
	<key>persistentStackFlags</key>
	<string>basicCustompaintOrigin</string>
	<key>singletonProxyValidation</key>
	<string>movementStyleOrigin</string>
	<key>storageLikeStructure</key>
	<string>scenePatternType</string>
	<key>workflowVariableName</key>
	<string>arithmeticResourceLeft</string>
</dict>
</plist>
