<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constBorderHue</key>
	<string>mainFlexType</string>
	<key>contractionAwaySystem</key>
	<string>titleSinceCommand</string>
	<key>descriptionOutsideStyle</key>
	<string>characterSinceObserver</string>
	<key>flexibleMenuTint</key>
	<string>alignmentVersusMethod</string>
	<key>remainderMediatorName</key>
	<string>resultWorkSpacing</string>
	<key>requiredIntegerDirection</key>
	<string>logarithmCompositeRate</string>
</dict>
</plist>
