<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineWithoutFramework</key>
	<string>smartProtocolSpeed</string>
	<key>repositoryThroughActivity</key>
	<string>ternaryStateShade</string>
</dict>
</plist>
