<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitFlyweightDirection</key>
	<string>sustainableCompositionCount</string>
	<key>displayableCubitTint</key>
	<string>interfaceAndVisitor</string>
	<key>gridContainShape</key>
	<string>mainSceneStatus</string>
	<key>intensityStateBrightness</key>
	<string>resilientTitleFlags</string>
	<key>modelIncludeCommand</key>
	<string>discardedDecorationRight</string>
	<key>monsterViaStructure</key>
	<string>memberShapeBehavior</string>
	<key>sliderSinceKind</key>
	<string>buttonShapeKind</string>
	<key>spriteStageRotation</key>
	<string>hashAmongProcess</string>
</dict>
</plist>
