<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionLayerMode</key>
	<string>optionLayerMomentum</string>
	<key>eventAgainstLayer</key>
	<string>iterativeBuilderColor</string>
	<key>labelTaskResponse</key>
	<string>tabviewInsideNumber</string>
	<key>modelAdapterAppearance</key>
	<string>builderSinceProcess</string>
	<key>storeSingletonState</key>
	<string>crudeScaffoldRight</string>
	<key>textInterpreterShape</key>
	<string>projectionAlongTemple</string>
</dict>
</plist>
