<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStateTension</key>
	<string>paddingMediatorState</string>
	<key>delegateTierColor</key>
	<string>modulusIncludeComposite</string>
	<key>loopStructureBound</key>
	<string>inkwellAwayProxy</string>
	<key>standaloneCoordinatorTint</key>
	<string>nodeFlyweightHead</string>
	<key>taskOperationOrigin</key>
	<string>sequentialDescriptionDelay</string>
	<key>typicalRadiusCount</key>
	<string>alignmentTaskScale</string>
</dict>
</plist>
