<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mutableCoordinatorDirection</key>
	<string>queryKindType</string>
	<key>pivotalCupertinoVisibility</key>
	<string>blocUntilChain</string>
	<key>playbackWithoutInterpreter</key>
	<string>metadataOfAction</string>
	<key>reducerMediatorInteraction</key>
	<string>discardedCustompaintTransparency</string>
	<key>reducerUntilTier</key>
	<string>buttonDuringBuffer</string>
	<key>respectiveDecorationOpacity</key>
	<string>cupertinoOfTemple</string>
	<key>richtextIncludeForm</key>
	<string>bitrateObserverSpacing</string>
	<key>smartBufferBottom</key>
	<string>navigationAsDecorator</string>
	<key>sustainableMatrixSkewy</key>
	<string>nextObserverScale</string>
	<key>themeFromType</key>
	<string>displayablePreviewFlags</string>
</dict>
</plist>
