<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteTickerTint</key>
	<string>buttonProcessPadding</string>
	<key>dialogsExceptPattern</key>
	<string>configurationJobForce</string>
	<key>intensityAndNumber</key>
	<string>graphicKindShape</string>
	<key>masterStageAppearance</key>
	<string>agileViewName</string>
	<key>modelAlongScope</key>
	<string>decorationUntilStage</string>
	<key>parallelChapterCoord</key>
	<string>blocUntilMediator</string>
	<key>richtextDespiteVariable</key>
	<string>singleConsumerSize</string>
	<key>signatureBesideAction</key>
	<string>eventContextFeedback</string>
</dict>
</plist>
