<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionWorkRate</key>
	<string>enabledAllocatorAcceleration</string>
	<key>grainStateColor</key>
	<string>sliderOperationKind</string>
	<key>mapOutsideSystem</key>
	<string>intermediateOverlayPadding</string>
	<key>modalUntilEnvironment</key>
	<string>subsequentProjectionLocation</string>
	<key>similarWidgetScale</key>
	<string>typicalExpandedHead</string>
</dict>
</plist>
