<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableResolverDirection</key>
	<string>advancedSkirtFlags</string>
	<key>managerTierDirection</key>
	<string>animationNearShape</string>
	<key>mutableDrawerMomentum</key>
	<string>specifierInterpreterBrightness</string>
	<key>observerMethodScale</key>
	<string>widgetPatternFrequency</string>
	<key>offsetPlatformPosition</key>
	<string>blocIncludeLayer</string>
	<key>originalRowMode</key>
	<string>callbackParamIndex</string>
	<key>parallelLayerVisibility</key>
	<string>axisSinceFlyweight</string>
	<key>sophisticatedMusicTension</key>
	<string>scrollableTransformerInteraction</string>
</dict>
</plist>
