<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationUntilContext</key>
	<string>routerAndKind</string>
	<key>cubitPerParameter</key>
	<string>offsetScopePadding</string>
	<key>hyperbolicGrainCenter</key>
	<string>cubitContainState</string>
	<key>immutableLoopDuration</key>
	<string>hashParameterTransparency</string>
	<key>respectiveSliderBound</key>
	<string>inheritedIntensityInterval</string>
	<key>retainedReductionPadding</key>
	<string>blocInsideLevel</string>
	<key>topicInsideFacade</key>
	<string>eventFunctionRotation</string>
</dict>
</plist>
