<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionParameterMargin</key>
	<string>numericalGetxName</string>
	<key>getxAdapterOrientation</key>
	<string>activatedFlexPadding</string>
	<key>musicProxyOrigin</key>
	<string>futureCycleSkewy</string>
	<key>rowAroundOperation</key>
	<string>streamContainStyle</string>
	<key>scrollAsFacade</key>
	<string>slashForForm</string>
	<key>streamDespiteFramework</key>
	<string>remainderFormDuration</string>
</dict>
</plist>
