<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderNearShape</key>
	<string>newestMusicStatus</string>
	<key>globalEffectMode</key>
	<string>spotNearWork</string>
	<key>overlayAlongSingleton</key>
	<string>presenterDespiteAdapter</string>
	<key>respectiveSemanticsBehavior</key>
	<string>arithmeticTickerTension</string>
	<key>rowJobEdge</key>
	<string>textProxyMargin</string>
	<key>webSingletonTheme</key>
	<string>textStrategySkewx</string>
</dict>
</plist>
