<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionAmongWork</key>
	<string>statelessExceptionBorder</string>
	<key>greatPainterOpacity</key>
	<string>asynchronousAxisOffset</string>
	<key>hyperbolicNavigatorFormat</key>
	<string>projectionForState</string>
	<key>iconPatternCount</key>
	<string>normalResultTail</string>
	<key>iterativeModelColor</key>
	<string>slashMediatorSize</string>
	<key>webKernelState</key>
	<string>intensityProxyType</string>
</dict>
</plist>
