<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystNearFramework</key>
	<string>liteClipperMode</string>
	<key>certificateWithPattern</key>
	<string>clipperStageShade</string>
	<key>instructionValueLeft</key>
	<string>disabledCubitBottom</string>
	<key>interfaceInterpreterType</key>
	<string>denseRouterForce</string>
	<key>robustSliderPosition</key>
	<string>exponentByMode</string>
</dict>
</plist>
