<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPlatformPadding</key>
	<string>offsetProxyTheme</string>
	<key>declarativeGramFormat</key>
	<string>positionedStrategySpeed</string>
	<key>declarativeNotificationColor</key>
	<string>discardedContainerStatus</string>
	<key>dynamicProviderTension</key>
	<string>disparateRadiusInterval</string>
	<key>entityAtCycle</key>
	<string>criticalConstraintDirection</string>
	<key>interactorStateName</key>
	<string>missionExceptTier</string>
	<key>sizeExceptStrategy</key>
	<string>aspectShapeLocation</string>
	<key>storeAgainstLevel</key>
	<string>batchPrototypeDelay</string>
	<key>typicalBlocKind</key>
	<string>protocolIncludeKind</string>
</dict>
</plist>
