<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAndTemple</key>
	<string>offsetInsideTask</string>
	<key>allocatorFormTop</key>
	<string>variantPatternSaturation</string>
	<key>columnDuringWork</key>
	<string>lostDescriptionPadding</string>
	<key>commandWithPhase</key>
	<string>completerCommandVelocity</string>
	<key>concurrentGridForce</key>
	<string>skinStructureSkewx</string>
	<key>contractionActivityType</key>
	<string>animatedcontainerSingletonVelocity</string>
	<key>resourceObserverDistance</key>
	<string>webSineFormat</string>
	<key>substantialCardVelocity</key>
	<string>builderPlatformShade</string>
</dict>
</plist>
