<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushWithoutDecorator</key>
	<string>difficultPositionSpacing</string>
	<key>builderForPlatform</key>
	<string>reducerChainInteraction</string>
	<key>clipperDuringFramework</key>
	<string>overlayThanAction</string>
	<key>descriptionInFacade</key>
	<string>disabledNormFormat</string>
	<key>errorNearProxy</key>
	<string>durationViaStyle</string>
	<key>independentEntityTail</key>
	<string>synchronousGridColor</string>
	<key>listenerPrototypeValidation</key>
	<string>coordinatorAmongVisitor</string>
	<key>oldViewKind</key>
	<string>multiplicationAsTemple</string>
</dict>
</plist>
