<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorAndActivity</key>
	<string>hardMemberFlags</string>
	<key>futurePatternFeedback</key>
	<string>loopInsideAdapter</string>
	<key>optionAlongPhase</key>
	<string>segmentOrPhase</string>
	<key>standaloneConstraintRate</key>
	<string>hashOperationSpeed</string>
	<key>storeActionVelocity</key>
	<string>getxAsBridge</string>
	<key>textAboutForm</key>
	<string>materialErrorTop</string>
</dict>
</plist>
