<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStorageRotation</key>
	<string>deferredConfigurationPosition</string>
	<key>associatedNibInterval</key>
	<string>originalMenuTop</string>
	<key>callbackShapeMargin</key>
	<string>specifyRadioBottom</string>
	<key>comprehensiveGroupTail</key>
	<string>delegateDecoratorDuration</string>
	<key>cubePrototypeTop</key>
	<string>modelVarVelocity</string>
	<key>curveLevelRate</key>
	<string>bufferUntilType</string>
	<key>displayableInterfaceFrequency</key>
	<string>delegateBeyondVariable</string>
	<key>handlerDuringStyle</key>
	<string>drawerParameterSaturation</string>
	<key>hashOfActivity</key>
	<string>sampleInTier</string>
	<key>staticRoutePadding</key>
	<string>baseMethodAppearance</string>
</dict>
</plist>
