<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCapacitiesScale</key>
	<string>coordinatorExceptVariable</string>
	<key>capsuleAroundBuffer</key>
	<string>elasticBulletMomentum</string>
	<key>ephemeralEventDensity</key>
	<string>grayscaleWorkFormat</string>
	<key>normPlatformShape</key>
	<string>accordionSampleVelocity</string>
	<key>observerSingletonHue</key>
	<string>pinchableBaseFrequency</string>
	<key>previewPrototypeCount</key>
	<string>spriteAsCommand</string>
	<key>providerCycleContrast</key>
	<string>modalStructurePadding</string>
	<key>reactiveCacheFormat</key>
	<string>optionInMediator</string>
	<key>tabviewPrototypeOpacity</key>
	<string>customizedCapsuleState</string>
</dict>
</plist>
