<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorChainMode</key>
	<string>sampleWithKind</string>
	<key>independentCommandBound</key>
	<string>logarithmMementoType</string>
	<key>mainResultHead</key>
	<string>borderAlongBuffer</string>
	<key>multiScaffoldColor</key>
	<string>localQueueIndex</string>
	<key>retainedContractionCenter</key>
	<string>isolateDecoratorState</string>
	<key>segmentBesideState</key>
	<string>criticalLoopTheme</string>
	<key>viewKindType</key>
	<string>sessionForActivity</string>
</dict>
</plist>
