<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectKindRate</key>
	<string>routeWorkOrientation</string>
	<key>featureAtProxy</key>
	<string>constraintWithoutAction</string>
	<key>multiBlocHead</key>
	<string>sizeViaState</string>
	<key>shaderSingletonFeedback</key>
	<string>cartesianWorkflowScale</string>
	<key>unaryKindRate</key>
	<string>cupertinoGetxFlags</string>
	<key>uniformInterfaceInterval</key>
	<string>localizationAtPrototype</string>
</dict>
</plist>
