<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVarTransparency</key>
	<string>asyncVariableShape</string>
	<key>bufferDecoratorSkewx</key>
	<string>ephemeralTweenBorder</string>
	<key>concurrentDependencyScale</key>
	<string>tensorRouteMargin</string>
	<key>currentTopicRotation</key>
	<string>significantLayerOpacity</string>
	<key>lazyPaddingShade</key>
	<string>cacheNearVariable</string>
	<key>loopThroughObserver</key>
	<string>nextConfigurationAppearance</string>
	<key>ternaryJobTransparency</key>
	<string>characterAboutSystem</string>
</dict>
</plist>
