<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerWithoutPattern</key>
	<string>cupertinoPositionRate</string>
	<key>curveAdapterCenter</key>
	<string>catalystMediatorDelay</string>
	<key>delicateDurationSize</key>
	<string>geometricCompositionBottom</string>
	<key>graphicFormTag</key>
	<string>otherSessionOpacity</string>
	<key>newestHeapSize</key>
	<string>columnFlyweightVelocity</string>
	<key>priorLogarithmForce</key>
	<string>frameUntilLayer</string>
	<key>signatureAtEnvironment</key>
	<string>ternaryScopeTheme</string>
	<key>subtlePageviewTension</key>
	<string>specifyLocalizationAlignment</string>
</dict>
</plist>
