<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeMobxShape</key>
	<string>discardedGetxDepth</string>
	<key>gestureAwayParameter</key>
	<string>stateTypeDirection</string>
	<key>navigatorMediatorContrast</key>
	<string>coordinatorFacadeCount</string>
	<key>scrollableSampleStyle</key>
	<string>stateActionDirection</string>
	<key>variantForTask</key>
	<string>remainderDespiteActivity</string>
</dict>
</plist>
