<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeApertureLocation</key>
	<string>rowIncludeParameter</string>
	<key>declarativeAsyncFrequency</key>
	<string>providerValueBorder</string>
	<key>declarativeHandlerFlags</key>
	<string>errorBesidePattern</string>
	<key>scrollableNavigationTransparency</key>
	<string>delegatePerForm</string>
</dict>
</plist>
