<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localReducerMomentum</key>
	<string>stateFormDistance</string>
	<key>playbackForFramework</key>
	<string>queueValueDepth</string>
	<key>substantialStateRate</key>
	<string>singletonProcessColor</string>
	<key>tabviewInVisitor</key>
	<string>pageviewBeyondState</string>
	<key>tappableMenuSpacing</key>
	<string>disparateInjectionBottom</string>
</dict>
</plist>
