<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonIncludeCycle</key>
	<string>chapterAboutFlyweight</string>
	<key>collectionAlongType</key>
	<string>elasticAlphaVisible</string>
	<key>injectionThanParam</key>
	<string>temporaryRectDepth</string>
	<key>layoutLikeKind</key>
	<string>presenterProcessSize</string>
	<key>signPerStrategy</key>
	<string>modalOfParam</string>
	<key>sophisticatedBlocShade</key>
	<string>overlayAndState</string>
	<key>storeActionDistance</key>
	<string>managerDecoratorKind</string>
</dict>
</plist>
