<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedWidgetTag</key>
	<string>standaloneAllocatorScale</string>
	<key>awaitBridgeFormat</key>
	<string>alertViaScope</string>
	<key>delicateTexturePressure</key>
	<string>delicateDelegateLocation</string>
	<key>hashLevelForce</key>
	<string>containerLikeComposite</string>
	<key>queryAtTemple</key>
	<string>sessionBufferFormat</string>
	<key>riverpodContextDelay</key>
	<string>immediateMissionSize</string>
	<key>usageAsSystem</key>
	<string>uniformIsolateInteraction</string>
	<key>visibleProviderScale</key>
	<string>utilWithParameter</string>
</dict>
</plist>
