<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAlongShape</key>
	<string>samplePlatformSkewx</string>
	<key>columnUntilProcess</key>
	<string>matrixStateDepth</string>
	<key>layoutViaJob</key>
	<string>normalParticleForce</string>
	<key>mobileForInterpreter</key>
	<string>currentTangentColor</string>
</dict>
</plist>
