<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeGrainPadding</key>
	<string>sinkFlyweightPadding</string>
	<key>descriptorAgainstParameter</key>
	<string>textAsShape</string>
	<key>permissiveTransformerColor</key>
	<string>presenterSinceScope</string>
	<key>segmentWorkInterval</key>
	<string>positionForStructure</string>
	<key>sliderDespiteFunction</key>
	<string>semanticAnimatedcontainerIndex</string>
	<key>textureEnvironmentSpeed</key>
	<string>smallSpotPressure</string>
	<key>tickerPrototypeResponse</key>
	<string>parallelSpinePosition</string>
</dict>
</plist>
