<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionJobName</key>
	<string>gateCompositeResponse</string>
	<key>progressbarContainSystem</key>
	<string>durationMediatorHue</string>
	<key>sizeScopeTail</key>
	<string>notifierFromContext</string>
	<key>subpixelUntilVariable</key>
	<string>constraintOfEnvironment</string>
</dict>
</plist>
