<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAroundVisitor</key>
	<string>customizedAwaitHead</string>
	<key>queryThroughTemple</key>
	<string>durationCommandVelocity</string>
	<key>widgetInterpreterOrientation</key>
	<string>backwardRadiusRate</string>
</dict>
</plist>
