<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicHandlerTag</key>
	<string>resourceFormSize</string>
	<key>configurationProxyRight</key>
	<string>expandedPatternBehavior</string>
	<key>modulusActivityVelocity</key>
	<string>basicTabbarKind</string>
	<key>nodeBridgeFrequency</key>
	<string>challengeWithoutMemento</string>
	<key>operationNearContext</key>
	<string>reducerViaStyle</string>
	<key>primaryKernelHead</key>
	<string>managerThroughPattern</string>
</dict>
</plist>
