<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAtJob</key>
	<string>plateLikeInterpreter</string>
	<key>missedMenuValidation</key>
	<string>contractionEnvironmentOrigin</string>
	<key>usedTangentKind</key>
	<string>capacitiesInFlyweight</string>
</dict>
</plist>
