<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedLabelVisible</key>
	<string>retainedDropdownbuttonBorder</string>
	<key>nodeDespiteVariable</key>
	<string>progressbarBesideStructure</string>
	<key>scaffoldMementoTop</key>
	<string>particleStyleSpeed</string>
	<key>sliderAroundFlyweight</key>
	<string>sharedTouchDelay</string>
</dict>
</plist>
