<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>memberAroundEnvironment</key>
	<string>subpixelWithoutTier</string>
	<key>popupCompositeHead</key>
	<string>arithmeticFutureRight</string>
	<key>radiusOfVariable</key>
	<string>dropdownbuttonStateScale</string>
	<key>rectOutsideMethod</key>
	<string>handlerMementoSkewy</string>
</dict>
</plist>
