<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseCommandSkewy</key>
	<string>controllerAwayMediator</string>
	<key>liteCosineTension</key>
	<string>adaptiveUtilCenter</string>
	<key>metadataAwayCommand</key>
	<string>movementInPattern</string>
	<key>mutableDimensionMomentum</key>
	<string>aspectratioAlongKind</string>
	<key>queryContainComposite</key>
	<string>mediumStreamStyle</string>
	<key>sophisticatedMenuColor</key>
	<string>accessibleMultiplicationTint</string>
	<key>tensorNavigatorOrigin</key>
	<string>sizedboxByForm</string>
</dict>
</plist>
