<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>queryFrameworkBound</key>
	<string>diversifiedSceneColor</string>
	<key>subscriptionShapeDistance</key>
	<string>reusableBuilderFlags</string>
	<key>tableDecoratorLocation</key>
	<string>parallelProjectAlignment</string>
</dict>
</plist>
