<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVarFormat</key>
	<string>progressbarScopeTop</string>
	<key>completionAboutSingleton</key>
	<string>reductionStructureAcceleration</string>
	<key>particleModeStyle</key>
	<string>newestZoneFeedback</string>
	<key>sizeAgainstSystem</key>
	<string>positionedViaStage</string>
	<key>webMapAlignment</key>
	<string>painterPhaseFrequency</string>
</dict>
</plist>
