<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPriorityDuration</key>
	<string>pivotalZoneShape</string>
	<key>alignmentParamVisible</key>
	<string>directlyConstraintTint</string>
	<key>bitrateForStage</key>
	<string>inheritedSizeDepth</string>
	<key>currentDelegateSpeed</key>
	<string>singletonOutsideMediator</string>
	<key>interpolationMementoBound</key>
	<string>aspectratioAlongPlatform</string>
	<key>rowAroundTemple</key>
	<string>isolateAlongBuffer</string>
</dict>
</plist>
