<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorWithoutSystem</key>
	<string>iterativeSinkRate</string>
	<key>memberByActivity</key>
	<string>errorAndValue</string>
	<key>pageviewStateSpeed</key>
	<string>discardedSingletonRight</string>
	<key>statefulBuilderDepth</key>
	<string>sinePrototypeBrightness</string>
	<key>subscriptionOrFacade</key>
	<string>respectiveTransformerFeedback</string>
</dict>
</plist>
