<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerBridgeLocation</key>
	<string>interfaceJobDensity</string>
	<key>nodeAroundDecorator</key>
	<string>normalSingletonBottom</string>
	<key>notificationStyleKind</key>
	<string>delegateTempleName</string>
	<key>tensorThemeSkewx</key>
	<string>chapterOrSingleton</string>
	<key>usageByBuffer</key>
	<string>effectWithoutFunction</string>
</dict>
</plist>
