<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customChannelsCoord</key>
	<string>seamlessEventFormat</string>
	<key>invisibleCubitTransparency</key>
	<string>custompaintStyleSkewx</string>
	<key>marginAboutType</key>
	<string>switchExceptScope</string>
	<key>permissiveDurationAcceleration</key>
	<string>shaderChainSkewy</string>
	<key>secondScrollTag</key>
	<string>heroUntilComposite</string>
	<key>taskUntilScope</key>
	<string>typicalReducerVisible</string>
</dict>
</plist>
