<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSpotTop</key>
	<string>consumerPhaseCount</string>
	<key>gridFrameworkForce</key>
	<string>pointProcessFlags</string>
	<key>navigationStateAppearance</key>
	<string>agileTextfieldInset</string>
	<key>normInsideParam</key>
	<string>parallelPopupSpacing</string>
	<key>permanentHandlerSkewx</key>
	<string>nativeChartSpacing</string>
	<key>priorityVarOffset</key>
	<string>spotDuringComposite</string>
	<key>responsiveReducerOrientation</key>
	<string>modulusForInterpreter</string>
	<key>seamlessProviderFormat</key>
	<string>effectTaskPadding</string>
	<key>statefulSubscriptionRight</key>
	<string>opaqueMatrixAppearance</string>
</dict>
</plist>
