<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarDespiteParameter</key>
	<string>subsequentNavigatorVisible</string>
	<key>cartesianAssetIndex</key>
	<string>resilientWidgetShape</string>
	<key>specifyZoneTension</key>
	<string>dependencyContextScale</string>
</dict>
</plist>
