<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedStreamColor</key>
	<string>isolateStatePosition</string>
	<key>compositionContainActivity</key>
	<string>asynchronousTernaryValidation</string>
	<key>eagerLabelTail</key>
	<string>metadataMethodResponse</string>
	<key>equalizationInPlatform</key>
	<string>interfaceTierPressure</string>
	<key>invisibleListenerRate</key>
	<string>optionEnvironmentCenter</string>
	<key>protocolViaInterpreter</key>
	<string>decorationTierTint</string>
</dict>
</plist>
