<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDescriptorSpacing</key>
	<string>projectUntilOperation</string>
	<key>beginnerEntityTension</key>
	<string>slashByType</string>
	<key>rectStructureShape</key>
	<string>managerPerSystem</string>
	<key>reducerBridgeSpacing</key>
	<string>mobxFlyweightTag</string>
	<key>requestForVariable</key>
	<string>interfaceVariableFormat</string>
	<key>requiredListviewRight</key>
	<string>isolateObserverVisible</string>
	<key>sophisticatedDimensionInterval</key>
	<string>finalStreamPressure</string>
</dict>
</plist>
