<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionUntilPhase</key>
	<string>animationDuringMode</string>
	<key>challengeThroughFramework</key>
	<string>mediumGiftAlignment</string>
	<key>layerLevelShade</key>
	<string>cacheJobSize</string>
	<key>lossOfProxy</key>
	<string>otherGramAlignment</string>
	<key>methodFromFramework</key>
	<string>sizedboxFacadeStyle</string>
	<key>modelTempleStyle</key>
	<string>logarithmFromObserver</string>
	<key>positionedPatternDistance</key>
	<string>mediumScalePadding</string>
	<key>queryIncludeVar</key>
	<string>dedicatedIsolateTheme</string>
	<key>topicCommandBorder</key>
	<string>hashMementoDirection</string>
</dict>
</plist>
