<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureCommandDepth</key>
	<string>particleNumberMomentum</string>
	<key>iterativeQueueBehavior</key>
	<string>textureDuringMethod</string>
	<key>routeNearPattern</key>
	<string>viewPlatformOffset</string>
	<key>titleChainOrientation</key>
	<string>durationContainAdapter</string>
</dict>
</plist>
