<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAndActivity</key>
	<string>modalParameterVelocity</string>
	<key>decorationVersusChain</key>
	<string>disparatePainterBorder</string>
	<key>grainLayerBehavior</key>
	<string>sinkAtActivity</string>
	<key>numericalExpandedSpacing</key>
	<string>granularUsageInterval</string>
	<key>responsiveUsecaseContrast</key>
	<string>cosineParamShade</string>
	<key>secondListenerVisible</key>
	<string>directlyAppbarValidation</string>
	<key>subscriptionStyleFlags</key>
	<string>basicIntensityShape</string>
</dict>
</plist>
