<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnNumberSpacing</key>
	<string>requestViaType</string>
	<key>configurationUntilVariable</key>
	<string>subpixelInterpreterFormat</string>
	<key>liteRouteHead</key>
	<string>priorCurveCount</string>
	<key>missionAroundLayer</key>
	<string>temporaryNavigatorName</string>
	<key>notificationBridgeState</key>
	<string>handlerAwayInterpreter</string>
	<key>radiusProcessScale</key>
	<string>callbackCycleBound</string>
	<key>substantialBoxshadowVisible</key>
	<string>newestViewName</string>
</dict>
</plist>
