<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutThroughMemento</key>
	<string>channelsForActivity</string>
	<key>lostProjectionVelocity</key>
	<string>draggableCatalystInterval</string>
	<key>matrixViaTask</key>
	<string>prismaticTaskMode</string>
	<key>originalRouteColor</key>
	<string>animatedSinkHead</string>
	<key>sessionWorkTag</key>
	<string>switchOutsideFacade</string>
</dict>
</plist>
