<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianNotifierCount</key>
	<string>subscriptionActionState</string>
	<key>constraintNearBuffer</key>
	<string>custompaintWithoutValue</string>
	<key>decorationStateTail</key>
	<string>inkwellWithInterpreter</string>
	<key>errorPhaseSpacing</key>
	<string>presenterAroundPattern</string>
	<key>explicitMenuTheme</key>
	<string>paddingDespiteSingleton</string>
	<key>hashStrategyOrigin</key>
	<string>activeModalRotation</string>
	<key>intensityAwayFlyweight</key>
	<string>utilForFramework</string>
	<key>toolStyleValidation</key>
	<string>sessionParameterMargin</string>
</dict>
</plist>
