<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionTierForce</key>
	<string>activeCaptionTop</string>
	<key>dialogsExceptMemento</key>
	<string>nodeOfVisitor</string>
	<key>offsetViaChain</key>
	<string>storyboardOperationVelocity</string>
	<key>plateVisitorBound</key>
	<string>alphaProcessContrast</string>
	<key>stampIncludeForm</key>
	<string>permissiveStatelessShade</string>
	<key>viewFacadePadding</key>
	<string>resultTempleSkewx</string>
</dict>
</plist>
