<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProxyAppearance</key>
	<string>buttonTierSpacing</string>
	<key>capsuleEnvironmentCenter</key>
	<string>utilByAction</string>
	<key>mediocreSineResponse</key>
	<string>channelsShapeTransparency</string>
	<key>resourceAgainstPlatform</key>
	<string>subscriptionPlatformVisible</string>
	<key>routeChainSize</key>
	<string>inactiveMasterVelocity</string>
	<key>skinAboutMediator</key>
	<string>enabledMediaqueryValidation</string>
	<key>swiftThroughJob</key>
	<string>resourceFunctionRight</string>
	<key>tableAndStage</key>
	<string>signatureFunctionSpeed</string>
	<key>tangentBesideEnvironment</key>
	<string>resourceOfProxy</string>
	<key>webAnchorKind</key>
	<string>multiConstraintScale</string>
</dict>
</plist>
