<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowParamRotation</key>
	<string>desktopRadioRotation</string>
	<key>errorParamValidation</key>
	<string>navigatorAroundVisitor</string>
	<key>optimizerIncludeStructure</key>
	<string>textPlatformPressure</string>
	<key>routerPerMode</key>
	<string>heapBeyondPlatform</string>
	<key>subtleRouterBrightness</key>
	<string>accessiblePresenterSkewx</string>
</dict>
</plist>
