<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityFormDistance</key>
	<string>draggableWorkflowCount</string>
	<key>iconModeType</key>
	<string>imperativeGiftValidation</string>
	<key>permanentExponentShape</key>
	<string>metadataExceptShape</string>
	<key>persistentNodeContrast</key>
	<string>nextTopicStyle</string>
	<key>sustainableTangentCenter</key>
	<string>declarativeVectorTint</string>
</dict>
</plist>
