<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedTopicLeft</key>
	<string>labelAdapterFormat</string>
	<key>grainFromMethod</key>
	<string>advancedSpotDirection</string>
	<key>graphAwayMemento</key>
	<string>commandViaValue</string>
	<key>hyperbolicAsyncOrientation</key>
	<string>baselineDespiteKind</string>
	<key>interfaceMementoShape</key>
	<string>cubitMethodContrast</string>
	<key>seamlessOverlayState</key>
	<string>completerInsideCycle</string>
	<key>singletonAgainstShape</key>
	<string>paddingBesideJob</string>
	<key>tickerSingletonAcceleration</key>
	<string>lostChecklistMargin</string>
</dict>
</plist>
