<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedColumnIndex</key>
	<string>relationalIsolateDelay</string>
	<key>configurationUntilInterpreter</key>
	<string>managerInterpreterDensity</string>
	<key>fixedPageviewPosition</key>
	<string>retainedStreamFlags</string>
	<key>liteProgressbarCenter</key>
	<string>normalProviderInteraction</string>
	<key>missedShaderDistance</key>
	<string>blocIncludeSystem</string>
	<key>resilientFactoryVelocity</key>
	<string>layerWithoutActivity</string>
	<key>uniformInterpolationFormat</key>
	<string>interfaceStructureSpacing</string>
	<key>usedTextureOffset</key>
	<string>borderAroundBridge</string>
</dict>
</plist>
