<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAwaySingleton</key>
	<string>optionTempleVisibility</string>
	<key>cupertinoAsInterpreter</key>
	<string>respectiveScrollPosition</string>
	<key>delegateStrategyFeedback</key>
	<string>tappableRequestInterval</string>
	<key>indicatorProcessRotation</key>
	<string>sceneVarDelay</string>
	<key>mobileFutureDuration</key>
	<string>imageAdapterLocation</string>
	<key>permanentStorageSaturation</key>
	<string>chartPlatformTransparency</string>
	<key>rowForTier</key>
	<string>subtlePositionFlags</string>
	<key>standaloneStreamBound</key>
	<string>responseAgainstCommand</string>
	<key>tickerOrStructure</key>
	<string>declarativeDialogsSpeed</string>
</dict>
</plist>
