<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedLogFrequency</key>
	<string>publicLocalizationVelocity</string>
	<key>coordinatorStructureBottom</key>
	<string>mutableEffectColor</string>
	<key>intensityTypeBound</key>
	<string>threadDuringBuffer</string>
	<key>intuitiveErrorInteraction</key>
	<string>gramFromLayer</string>
	<key>routeTypeFrequency</key>
	<string>prevModulusTail</string>
	<key>scaffoldLevelShade</key>
	<string>unsortedLayoutColor</string>
</dict>
</plist>
