<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineThanBuffer</key>
	<string>integerForStrategy</string>
	<key>builderChainBottom</key>
	<string>sizeNumberLeft</string>
	<key>finalContainerInteraction</key>
	<string>decorationWithoutVisitor</string>
	<key>inactiveRoleTint</key>
	<string>storeTypeCoord</string>
	<key>rectCycleInteraction</key>
	<string>configurationDecoratorOpacity</string>
	<key>serviceDespiteOperation</key>
	<string>exceptionOrFlyweight</string>
	<key>signActionFlags</key>
	<string>screenAsMemento</string>
	<key>textfieldDecoratorStatus</key>
	<string>difficultCommandKind</string>
</dict>
</plist>
