<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStrategyPressure</key>
	<string>asynchronousAnimationStyle</string>
	<key>commonToolKind</key>
	<string>cardPlatformRotation</string>
	<key>futurePhaseStatus</key>
	<string>workflowNumberValidation</string>
	<key>plateBufferBorder</key>
	<string>localKernelShade</string>
	<key>protocolForStyle</key>
	<string>retainedBuilderBound</string>
	<key>scaffoldStateInset</key>
	<string>eagerLogAppearance</string>
	<key>significantGrainOrientation</key>
	<string>flexibleGesturedetectorHead</string>
	<key>titleIncludeLevel</key>
	<string>euclideanNavigatorForce</string>
	<key>transitionValueSpacing</key>
	<string>protectedEntropyInterval</string>
</dict>
</plist>
