<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushDespiteParam</key>
	<string>gestureNearFacade</string>
	<key>consultativeStepSkewx</key>
	<string>backwardInkwellInset</string>
	<key>coordinatorByVar</key>
	<string>activeResolverDensity</string>
	<key>movementCycleDuration</key>
	<string>mainStoreRotation</string>
	<key>significantArithmeticDirection</key>
	<string>independentGetxMomentum</string>
	<key>skinSinceObserver</key>
	<string>arithmeticPlateDepth</string>
	<key>stepPatternRate</key>
	<string>appbarPhaseMode</string>
</dict>
</plist>
