<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inkwellMethodOrigin</key>
	<string>channelContainParam</string>
	<key>largeConfigurationContrast</key>
	<string>immutableConsumerOffset</string>
	<key>reducerAmongShape</key>
	<string>requestModeTail</string>
</dict>
</plist>
