<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystModeTail</key>
	<string>reactiveTimerOrientation</string>
	<key>decorationDuringChain</key>
	<string>groupAboutOperation</string>
	<key>gateValueTransparency</key>
	<string>assetFunctionOpacity</string>
	<key>grainInterpreterVisible</key>
	<string>durationAboutStructure</string>
	<key>grayscaleSinceTier</key>
	<string>taskPhaseSkewy</string>
	<key>inheritedWorkflowState</key>
	<string>featureOutsideEnvironment</string>
	<key>resourceProcessTag</key>
	<string>textDuringType</string>
</dict>
</plist>
