<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexibleCurveOrientation</key>
	<string>intuitiveMarginBottom</string>
	<key>futureTempleVisibility</key>
	<string>interpolationMediatorAlignment</string>
	<key>isolateCommandIndex</key>
	<string>loopModeInset</string>
	<key>otherSubpixelRate</key>
	<string>commandBridgeFeedback</string>
	<key>sceneForScope</key>
	<string>mediocreSegueBottom</string>
	<key>tappableSegueRight</key>
	<string>interfaceLevelCount</string>
	<key>techniqueVarBehavior</key>
	<string>assetDecoratorContrast</string>
</dict>
</plist>
