<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorVisitorTint</key>
	<string>rowInCycle</string>
	<key>completerNumberVelocity</key>
	<string>gridviewProcessSaturation</string>
	<key>discardedGraphicSkewx</key>
	<string>spriteActionMomentum</string>
</dict>
</plist>
