<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxCompositeShape</key>
	<string>capacitiesOutsideMode</string>
	<key>concurrentDescriptionDirection</key>
	<string>alphaFacadeSpacing</string>
	<key>durationNearProxy</key>
	<string>dedicatedResolverAcceleration</string>
	<key>exponentProxyVisible</key>
	<string>multiFutureDirection</string>
	<key>gridAmongVariable</key>
	<string>numericalReducerOpacity</string>
	<key>mediocreDrawerEdge</key>
	<string>ephemeralLayoutRight</string>
	<key>plateSinceCommand</key>
	<string>semanticUsecaseSize</string>
	<key>smallTabbarDepth</key>
	<string>dropdownbuttonPerCommand</string>
</dict>
</plist>
