<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileTextCenter</key>
	<string>nativeRichtextBrightness</string>
	<key>axisWithVisitor</key>
	<string>composableAwaitOffset</string>
	<key>materialNavigatorTag</key>
	<string>desktopRouterPressure</string>
	<key>profileAgainstCycle</key>
	<string>particleWithShape</string>
	<key>tabbarWithoutFacade</key>
	<string>cubeExceptTier</string>
</dict>
</plist>
