<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitKindCoord</key>
	<string>localTouchDensity</string>
	<key>bufferAgainstCommand</key>
	<string>eventThroughMemento</string>
	<key>dropdownbuttonNearStructure</key>
	<string>boxMediatorHue</string>
	<key>durationStructureType</key>
	<string>operationContainMode</string>
	<key>independentExtensionShade</key>
	<string>widgetVersusFlyweight</string>
	<key>popupByPhase</key>
	<string>rectInterpreterCoord</string>
	<key>reusableTangentVelocity</key>
	<string>finalNavigatorDirection</string>
	<key>semanticTickerRight</key>
	<string>mediumTransitionTension</string>
	<key>streamTempleDuration</key>
	<string>comprehensiveFrameTransparency</string>
	<key>tableVisitorType</key>
	<string>statelessParameterMomentum</string>
</dict>
</plist>
