<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryInterpreterTheme</key>
	<string>euclideanListenerCenter</string>
	<key>beginnerSingletonName</key>
	<string>serviceActionPosition</string>
	<key>entityCycleDensity</key>
	<string>interactorStageEdge</string>
	<key>errorThanForm</key>
	<string>frameParameterInterval</string>
	<key>methodTierKind</key>
	<string>denseCommandMode</string>
	<key>modelLikeChain</key>
	<string>sophisticatedRadiusTransparency</string>
	<key>singletonInsideScope</key>
	<string>zoneAwayPrototype</string>
	<key>uniformExtensionSpacing</key>
	<string>radioPrototypeResponse</string>
</dict>
</plist>
