<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPrototypeScale</key>
	<string>normChainVelocity</string>
	<key>animationForAdapter</key>
	<string>characterAtSingleton</string>
	<key>criticalChecklistSkewx</key>
	<string>capacitiesEnvironmentBrightness</string>
	<key>intuitiveDurationRight</key>
	<string>displayableAccessoryValidation</string>
	<key>layoutSystemDensity</key>
	<string>tabbarActionShade</string>
	<key>numericalCoordinatorShape</key>
	<string>viewChainIndex</string>
	<key>resolverActivityBehavior</key>
	<string>mediocreCertificateDistance</string>
</dict>
</plist>
