<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonViaChain</key>
	<string>largeFactoryVisibility</string>
	<key>durationExceptLevel</key>
	<string>smallLayerDensity</string>
	<key>mediocreTimerInteraction</key>
	<string>delegateAboutProxy</string>
	<key>reductionPrototypeVisibility</key>
	<string>challengeWorkRate</string>
	<key>tableModePosition</key>
	<string>comprehensiveMobileSpacing</string>
</dict>
</plist>
