<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAboutParam</key>
	<string>denseDescriptionColor</string>
	<key>completerWorkMode</key>
	<string>asynchronousDurationVisible</string>
	<key>handlerAndProxy</key>
	<string>reductionMethodCoord</string>
	<key>overlayBesideVisitor</key>
	<string>effectMediatorCount</string>
	<key>rapidStackTint</key>
	<string>lazyStreamName</string>
	<key>utilAroundFlyweight</key>
	<string>chapterVersusState</string>
</dict>
</plist>
