<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousMapTheme</key>
	<string>buttonShapeVelocity</string>
	<key>delegateEnvironmentTension</key>
	<string>normalSpineMargin</string>
	<key>mediaTierState</key>
	<string>cupertinoOperationName</string>
	<key>missedGraphScale</key>
	<string>otherProfileSpeed</string>
	<key>rapidReferenceOpacity</key>
	<string>liteSinkTransparency</string>
	<key>taskContextSaturation</key>
	<string>musicBridgeBehavior</string>
	<key>webPlaybackStyle</key>
	<string>transitionPerFramework</string>
</dict>
</plist>
