<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAgainstVisitor</key>
	<string>callbackThroughObserver</string>
	<key>descriptorBridgeRight</key>
	<string>intensitySincePlatform</string>
	<key>directSpecifierShape</key>
	<string>opaqueFeatureCenter</string>
	<key>finalManagerAlignment</key>
	<string>comprehensiveProjectDirection</string>
	<key>nibAlongAdapter</key>
	<string>hardRowOrigin</string>
	<key>respectiveProviderBehavior</key>
	<string>signatureThroughJob</string>
	<key>taskViaKind</key>
	<string>displayableTickerCount</string>
	<key>usedGridPadding</key>
	<string>textStateEdge</string>
</dict>
</plist>
