<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationByAdapter</key>
	<string>persistentUsecaseMargin</string>
	<key>commandAlongParam</key>
	<string>prevViewTail</string>
	<key>diffableToolBrightness</key>
	<string>asynchronousVariantSkewx</string>
	<key>draggableBatchTension</key>
	<string>actionByType</string>
	<key>gradientOfType</key>
	<string>routerSystemName</string>
	<key>textValueContrast</key>
	<string>featureThroughPrototype</string>
	<key>workflowInObserver</key>
	<string>backwardExpandedRotation</string>
</dict>
</plist>
