<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoEffectIndex</key>
	<string>storeProcessTint</string>
	<key>decorationMementoFlags</key>
	<string>borderInCommand</string>
	<key>dependencyInterpreterSkewy</key>
	<string>decorationProcessOffset</string>
	<key>referenceAsStructure</key>
	<string>navigationNearJob</string>
	<key>ternaryMementoCoord</key>
	<string>resourcePerTask</string>
</dict>
</plist>
