<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorTempleFeedback</key>
	<string>pinchableResultFrequency</string>
	<key>decorationChainAppearance</key>
	<string>hierarchicalMonsterRotation</string>
	<key>mapSinceEnvironment</key>
	<string>functionalCycleCoord</string>
	<key>robustProgressbarDistance</key>
	<string>notificationAboutOperation</string>
	<key>stampObserverPosition</key>
	<string>transitionMethodSkewy</string>
	<key>subtleRemainderMode</key>
	<string>nativeFeatureShape</string>
</dict>
</plist>
