<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellAgainstPlatform</key>
	<string>chapterFromForm</string>
	<key>curveDespiteShape</key>
	<string>providerEnvironmentBorder</string>
	<key>effectAsStrategy</key>
	<string>indicatorObserverVelocity</string>
	<key>iterativeConvolutionTag</key>
	<string>beginnerGroupForce</string>
	<key>liteBitrateOrigin</key>
	<string>routePhaseOrigin</string>
	<key>scrollableTextPosition</key>
	<string>viewIncludeValue</string>
	<key>techniqueSystemBottom</key>
	<string>handlerForFramework</string>
</dict>
</plist>
