<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastCurveState</key>
	<string>pivotalInteractorInterval</string>
	<key>mediaqueryVariableBehavior</key>
	<string>vectorWithoutTemple</string>
	<key>methodModeEdge</key>
	<string>substantialFactoryInterval</string>
	<key>mobileDuringProcess</key>
	<string>explicitPrecisionDistance</string>
	<key>paddingFunctionStyle</key>
	<string>sinkFunctionTension</string>
	<key>petEnvironmentMode</key>
	<string>hardInteractorOrientation</string>
	<key>statelessServiceInset</key>
	<string>specifySineVisibility</string>
	<key>symmetricHeroResponse</key>
	<string>nibProxyBottom</string>
</dict>
</plist>
