<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerCardColor</key>
	<string>immediateMasterForce</string>
	<key>finalMethodSaturation</key>
	<string>offsetFlyweightFrequency</string>
	<key>intuitiveScaleTheme</key>
	<string>plateContainBridge</string>
	<key>missionPlatformEdge</key>
	<string>unactivatedWorkflowEdge</string>
	<key>resizableCapacitiesState</key>
	<string>inactiveResolverDepth</string>
	<key>sizeBeyondShape</key>
	<string>localizationPerProxy</string>
	<key>zoneActionSkewx</key>
	<string>diffableSwiftHead</string>
	<key>zoneTaskDelay</key>
	<string>textureAmongPattern</string>
</dict>
</plist>
