<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncJobHead</key>
	<string>animatedGrainFormat</string>
	<key>checklistAwayPrototype</key>
	<string>baseDuringOperation</string>
	<key>queueInsideBuffer</key>
	<string>layoutOutsideStage</string>
	<key>spineUntilStyle</key>
	<string>uniqueOverlayVisibility</string>
</dict>
</plist>
