<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushDecoratorEdge</key>
	<string>tabviewExceptWork</string>
	<key>buttonLayerDistance</key>
	<string>themePerPattern</string>
	<key>granularAssetStyle</key>
	<string>denseSinkOffset</string>
	<key>navigationCompositeFormat</key>
	<string>effectProcessRight</string>
	<key>reducerAtPlatform</key>
	<string>delegateFromVariable</string>
	<key>tickerViaVisitor</key>
	<string>variantUntilPlatform</string>
</dict>
</plist>
