<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerWorkLeft</key>
	<string>nodeByAction</string>
	<key>durationLayerOpacity</key>
	<string>kernelInFacade</string>
	<key>factoryOrMediator</key>
	<string>localizationScopeLeft</string>
	<key>lazyAlignmentOrigin</key>
	<string>diversifiedTextSize</string>
	<key>lazyStorageMode</key>
	<string>storageCommandInteraction</string>
	<key>navigationPerPlatform</key>
	<string>resizableCommandVisibility</string>
	<key>prismaticAwaitDirection</key>
	<string>usecaseWithLayer</string>
	<key>specifierMediatorRate</key>
	<string>controllerFormStyle</string>
	<key>threadFlyweightRotation</key>
	<string>liteSignatureFrequency</string>
</dict>
</plist>
