<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedVectorDelay</key>
	<string>zoneLevelOffset</string>
	<key>composableHandlerInset</key>
	<string>resultJobTheme</string>
	<key>consultativeScaleTag</key>
	<string>protectedPromiseFlags</string>
	<key>curvePerVariable</key>
	<string>specifyBufferPadding</string>
	<key>denseButtonTop</key>
	<string>painterOutsideContext</string>
	<key>discardedInterpolationOpacity</key>
	<string>delicateResultOrientation</string>
	<key>positionFlyweightAppearance</key>
	<string>hierarchicalGraphicAcceleration</string>
	<key>radiusAdapterBorder</key>
	<string>associatedRequestMomentum</string>
	<key>signatureLikeProxy</key>
	<string>menuAtPlatform</string>
</dict>
</plist>
