<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerActivitySize</key>
	<string>intensityAgainstCycle</string>
	<key>liteEqualizationAcceleration</key>
	<string>lastGemLocation</string>
	<key>managerFacadeTransparency</key>
	<string>curveFacadeIndex</string>
	<key>providerLayerScale</key>
	<string>themeDecoratorColor</string>
	<key>subpixelBridgeSize</key>
	<string>previewVariableTransparency</string>
</dict>
</plist>
