<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedChecklistPressure</key>
	<string>missionLevelAppearance</string>
	<key>compositionalMaterialShape</key>
	<string>segmentFacadeOffset</string>
	<key>desktopDelegateLocation</key>
	<string>cubitStageInterval</string>
	<key>keyChapterDelay</key>
	<string>sceneBesideContext</string>
	<key>layoutForBuffer</key>
	<string>resultLikeMode</string>
	<key>originalGrayscaleAcceleration</key>
	<string>richtextInsideFlyweight</string>
</dict>
</plist>
