<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTransitionDirection</key>
	<string>firstStateOrigin</string>
	<key>arithmeticGraphVisibility</key>
	<string>matrixStructureLeft</string>
	<key>labelMediatorTop</key>
	<string>nodeAgainstLayer</string>
	<key>normalPlateLocation</key>
	<string>textureActivityIndex</string>
	<key>observerParameterVelocity</key>
	<string>typicalAsyncTension</string>
	<key>sineProcessTension</key>
	<string>pointIncludeTask</string>
	<key>utilBridgeStyle</key>
	<string>metadataByPhase</string>
	<key>widgetOperationHue</key>
	<string>sustainableInjectionMomentum</string>
</dict>
</plist>
