<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryWorkContrast</key>
	<string>beginnerGemSize</string>
	<key>alertOfMode</key>
	<string>sizeNumberStyle</string>
	<key>entityAroundContext</key>
	<string>liteUsecaseOffset</string>
	<key>gridviewPlatformBrightness</key>
	<string>completionStateMode</string>
	<key>handlerNearEnvironment</key>
	<string>accessoryPlatformInset</string>
	<key>managerDuringLayer</key>
	<string>swiftMementoStatus</string>
	<key>requestContainAdapter</key>
	<string>animatedDecorationTint</string>
	<key>temporaryClipperBound</key>
	<string>alignmentLikeShape</string>
	<key>tickerSinceMode</key>
	<string>descriptorStageCount</string>
	<key>typicalStateBorder</key>
	<string>statefulDescriptorBound</string>
</dict>
</plist>
