<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAdapterDensity</key>
	<string>hardChannelSkewx</string>
	<key>directSliderInterval</key>
	<string>bulletAroundSystem</string>
	<key>durationAboutLevel</key>
	<string>masterCommandVisible</string>
	<key>finalInjectionVisibility</key>
	<string>cycleContextBottom</string>
	<key>labelBesideAdapter</key>
	<string>responsiveCubeAppearance</string>
	<key>projectionAndPlatform</key>
	<string>alertLevelDirection</string>
	<key>unaryNearParam</key>
	<string>transitionPlatformTransparency</string>
</dict>
</plist>
