<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorNumberRight</key>
	<string>projectKindInterval</string>
	<key>compositionMethodContrast</key>
	<string>alignmentThroughJob</string>
	<key>configurationNearFramework</key>
	<string>fusedTextContrast</string>
	<key>crudeEquipmentVisibility</key>
	<string>adaptivePainterLeft</string>
	<key>injectionAsFlyweight</key>
	<string>hierarchicalAlphaCount</string>
	<key>layoutForProcess</key>
	<string>capsuleThanMediator</string>
	<key>movementAboutProxy</key>
	<string>methodInterpreterBorder</string>
	<key>multiplicationContainVariable</key>
	<string>nativeInterfaceTail</string>
	<key>nodePhasePadding</key>
	<string>reusableAssetPosition</string>
	<key>operationDuringBuffer</key>
	<string>responseVariableBound</string>
</dict>
</plist>
