<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSpineState</key>
	<string>basicEqualizationBottom</string>
	<key>modelThanLevel</key>
	<string>labelValueDensity</string>
	<key>rapidControllerKind</key>
	<string>injectionAlongPlatform</string>
	<key>resourceVarLocation</key>
	<string>mapBeyondTemple</string>
	<key>semanticsFromChain</key>
	<string>grainModeDistance</string>
	<key>sinkInStage</key>
	<string>currentSinkSpeed</string>
	<key>smartMultiplicationDelay</key>
	<string>fixedDelegateEdge</string>
	<key>storageLevelBorder</key>
	<string>shaderVersusTemple</string>
</dict>
</plist>
