<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocDespiteDecorator</key>
	<string>denseChartLocation</string>
	<key>equalizationUntilCycle</key>
	<string>viewBeyondTemple</string>
	<key>expandedContextCoord</key>
	<string>buttonTypeDistance</string>
	<key>globalProfileBottom</key>
	<string>commonThreadAcceleration</string>
	<key>heapAsSystem</key>
	<string>remainderTempleShape</string>
	<key>intensityLevelAcceleration</key>
	<string>rowEnvironmentForce</string>
	<key>liteCapacitiesBottom</key>
	<string>tickerDespiteSystem</string>
	<key>sophisticatedPresenterTail</key>
	<string>precisionFromAction</string>
	<key>spriteBridgeTint</key>
	<string>notifierProxyDelay</string>
	<key>usecaseAlongContext</key>
	<string>enabledGiftForce</string>
</dict>
</plist>
