<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionEnvironmentStyle</key>
	<string>functionalVariantVisible</string>
	<key>particleLikeBuffer</key>
	<string>projectionLevelShade</string>
	<key>persistentDependencyTint</key>
	<string>taskLayerResponse</string>
	<key>routeStyleIndex</key>
	<string>chapterPlatformIndex</string>
	<key>sceneCompositePosition</key>
	<string>checklistBridgeSize</string>
	<key>scrollableIsolateMargin</key>
	<string>presenterDespiteStyle</string>
</dict>
</plist>
