<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonShapeMargin</key>
	<string>popupContainPattern</string>
	<key>liteSliderPosition</key>
	<string>positionFrameworkBound</string>
	<key>reactiveGradientEdge</key>
	<string>resizableCaptionAlignment</string>
</dict>
</plist>
