<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDecorationCoord</key>
	<string>scrollableExtensionOffset</string>
	<key>autoActivityFlags</key>
	<string>disparateTitleSkewy</string>
	<key>cacheInterpreterName</key>
	<string>titleInTier</string>
	<key>kernelAdapterRate</key>
	<string>contractionDecoratorType</string>
	<key>mobileLikeDecorator</key>
	<string>grainEnvironmentStyle</string>
	<key>nextInkwellDepth</key>
	<string>descriptionActivityOffset</string>
	<key>offsetExceptBuffer</key>
	<string>marginMethodSaturation</string>
	<key>requiredObserverInteraction</key>
	<string>directlyGroupValidation</string>
</dict>
</plist>
