<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBesideForm</key>
	<string>gestureStateTheme</string>
	<key>buttonByLayer</key>
	<string>accessoryKindDirection</string>
	<key>cubitModeTransparency</key>
	<string>activatedAnimatedcontainerTransparency</string>
	<key>cupertinoCommandState</key>
	<string>subtleProjectMomentum</string>
	<key>difficultScaffoldSize</key>
	<string>tabviewAndVariable</string>
	<key>iconPhaseCoord</key>
	<string>mediocreTweenDuration</string>
	<key>multiplicationDuringObserver</key>
	<string>delegatePrototypeCoord</string>
	<key>rectKindTint</key>
	<string>injectionStateDirection</string>
	<key>staticInterfaceDelay</key>
	<string>streamBesideAdapter</string>
</dict>
</plist>
