<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorMethodVelocity</key>
	<string>titleAsLayer</string>
	<key>commandLevelTail</key>
	<string>layoutAsProcess</string>
	<key>controllerValueShape</key>
	<string>streamWithoutObserver</string>
	<key>elasticProjectBehavior</key>
	<string>configurationTierType</string>
	<key>immediateNavigatorFeedback</key>
	<string>gestureUntilTier</string>
	<key>interpolationSinceTemple</key>
	<string>anchorDecoratorKind</string>
	<key>requestTaskDepth</key>
	<string>accordionVariantShade</string>
	<key>robustInterfaceSkewx</key>
	<string>masterThanStyle</string>
	<key>tableStateVisible</key>
	<string>curveContextOffset</string>
</dict>
</plist>
