<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStructureSkewx</key>
	<string>statefulPetBound</string>
	<key>aspectratioMethodOffset</key>
	<string>uniformSensorHead</string>
	<key>dedicatedAspectColor</key>
	<string>borderTierType</string>
	<key>difficultCubitFeedback</key>
	<string>baseBufferValidation</string>
	<key>resultStructureRight</key>
	<string>priorityShapeCoord</string>
	<key>similarDependencyEdge</key>
	<string>missionShapeType</string>
	<key>textOfBridge</key>
	<string>popupLayerFrequency</string>
</dict>
</plist>
