<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaSingletonSaturation</key>
	<string>compositionalCapsuleRotation</string>
	<key>capsuleVisitorFormat</key>
	<string>marginTaskShade</string>
	<key>completerParamLeft</key>
	<string>zoneBridgeBrightness</string>
	<key>opaqueAsyncTint</key>
	<string>animatedTopicOffset</string>
	<key>roleWithMethod</key>
	<string>substantialAxisBrightness</string>
	<key>routeContainForm</key>
	<string>resizableNibFrequency</string>
	<key>threadAroundStructure</key>
	<string>appbarAtSystem</string>
	<key>transitionParameterFlags</key>
	<string>numericalColumnRate</string>
</dict>
</plist>
