<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateDecoratorPadding</key>
	<string>coordinatorSystemScale</string>
	<key>mobileNearType</key>
	<string>signatureScopeCount</string>
	<key>nextRouterResponse</key>
	<string>listviewVisitorTag</string>
	<key>repositoryValuePadding</key>
	<string>integerWithPlatform</string>
	<key>sizeDuringTemple</key>
	<string>checklistLikeNumber</string>
</dict>
</plist>
