<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBesidePrototype</key>
	<string>declarativeTabviewFlags</string>
	<key>disabledPreviewValidation</key>
	<string>tweenWithStyle</string>
	<key>displayableCubitBottom</key>
	<string>taskCompositeCenter</string>
	<key>mediocrePresenterAppearance</key>
	<string>collectionInsideFunction</string>
	<key>persistentTouchStyle</key>
	<string>builderStructureName</string>
	<key>requestProxyFormat</key>
	<string>normalLocalizationPressure</string>
	<key>sliderAlongBridge</key>
	<string>notifierAroundProxy</string>
	<key>taskMethodTop</key>
	<string>decorationIncludeLevel</string>
</dict>
</plist>
