<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardCardTop</key>
	<string>queueCycleMomentum</string>
	<key>descriptorUntilNumber</key>
	<string>previewVersusFunction</string>
	<key>difficultInteractorValidation</key>
	<string>taskStateOpacity</string>
	<key>discardedOffsetShape</key>
	<string>gateStateDensity</string>
	<key>granularActivityStyle</key>
	<string>mediocreDelegateFeedback</string>
	<key>logFromTask</key>
	<string>characterStructureCoord</string>
</dict>
</plist>
