<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticAppbarTint</key>
	<string>custompaintContextHue</string>
	<key>firstRichtextVisible</key>
	<string>segueThanValue</string>
	<key>globalParticleTint</key>
	<string>resolverOrShape</string>
	<key>greatOffsetForce</key>
	<string>substantialGridCount</string>
	<key>multiSkirtOffset</key>
	<string>themeAndValue</string>
	<key>presenterAgainstCommand</key>
	<string>stepAmongScope</string>
	<key>semanticMatrixMode</key>
	<string>sceneAroundState</string>
</dict>
</plist>
