<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDecorationCoord</key>
	<string>backwardSignatureVisible</string>
	<key>basicMomentumPadding</key>
	<string>graphThroughParameter</string>
	<key>builderByTier</key>
	<string>firstGemVisible</string>
	<key>chapterMethodRate</key>
	<string>vectorDuringTier</string>
	<key>eventAroundLayer</key>
	<string>radiusScopeRotation</string>
	<key>handlerAgainstContext</key>
	<string>directlyModalVisibility</string>
	<key>sortedResourceTint</key>
	<string>normAndActivity</string>
	<key>streamBesideStructure</key>
	<string>layoutPatternIndex</string>
	<key>tweenByPlatform</key>
	<string>sceneStructureTail</string>
	<key>widgetIncludeFramework</key>
	<string>navigatorStyleIndex</string>
</dict>
</plist>
