<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatSliderTail</key>
	<string>providerAndTier</string>
	<key>nodeContainShape</key>
	<string>seamlessRadiusShade</string>
	<key>permanentSineInteraction</key>
	<string>semanticSingletonShade</string>
	<key>scrollableChannelRight</key>
	<string>prismaticFactoryForce</string>
	<key>significantChapterForce</key>
	<string>crucialScrollTail</string>
	<key>sliderNumberCount</key>
	<string>concurrentCosineResponse</string>
</dict>
</plist>
