<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorLevelColor</key>
	<string>queueInLayer</string>
	<key>cardFunctionDistance</key>
	<string>entropyContainStyle</string>
	<key>composableChapterVisible</key>
	<string>oldPainterDensity</string>
	<key>futureProcessTail</key>
	<string>characterMementoOpacity</string>
	<key>gridIncludeState</key>
	<string>localizationObserverLocation</string>
	<key>intermediateSwitchHue</key>
	<string>previewTypeOpacity</string>
	<key>keyModelCenter</key>
	<string>stampProxyShape</string>
	<key>labelKindTail</key>
	<string>baseScopeOffset</string>
	<key>progressbarWithoutAction</key>
	<string>interpolationActionDuration</string>
</dict>
</plist>
