<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionContainSingleton</key>
	<string>difficultTickerOrientation</string>
	<key>coordinatorIncludeFacade</key>
	<string>petFormDuration</string>
	<key>interfaceForMode</key>
	<string>commonParticleIndex</string>
	<key>normalSwitchTop</key>
	<string>remainderStructureTheme</string>
	<key>reactiveVectorFormat</key>
	<string>inheritedRadiusEdge</string>
	<key>significantConstraintTension</key>
	<string>significantAnchorFlags</string>
	<key>singleSignPadding</key>
	<string>mobileShaderHue</string>
	<key>sizePatternPadding</key>
	<string>associatedExceptionShade</string>
	<key>standaloneRouterTransparency</key>
	<string>decorationWithState</string>
	<key>transitionMediatorStatus</key>
	<string>assetStrategyVisibility</string>
</dict>
</plist>
