<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerMediatorEdge</key>
	<string>accordionPresenterMode</string>
	<key>elasticVariantCoord</key>
	<string>mobileTaskPressure</string>
	<key>factoryUntilPattern</key>
	<string>completerPlatformStatus</string>
	<key>imperativeEntityContrast</key>
	<string>commonSkirtStatus</string>
	<key>taskThroughPrototype</key>
	<string>entityInCycle</string>
</dict>
</plist>
