<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSubscriptionAlignment</key>
	<string>gradientFrameworkTint</string>
	<key>adaptiveTopicEdge</key>
	<string>independentInstructionVelocity</string>
	<key>comprehensiveSensorStatus</key>
	<string>collectionTempleVisibility</string>
	<key>consumerCycleDelay</key>
	<string>staticMovementDirection</string>
	<key>curvePrototypeRate</key>
	<string>compositionalRowLeft</string>
	<key>nibAsOperation</key>
	<string>functionalCacheTop</string>
	<key>queryThanFlyweight</key>
	<string>interactorPhaseDuration</string>
	<key>rectThroughTask</key>
	<string>signatureLikeLayer</string>
	<key>streamPrototypeMomentum</key>
	<string>exponentVarTint</string>
</dict>
</plist>
