<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileChartTag</key>
	<string>controllerSinceTemple</string>
	<key>allocatorAroundSingleton</key>
	<string>commandOutsideType</string>
	<key>cellMementoContrast</key>
	<string>resourceAmongVariable</string>
	<key>compositionAdapterCount</key>
	<string>textContextBottom</string>
	<key>durationTierHead</key>
	<string>firstLogarithmSpeed</string>
	<key>eventFromStructure</key>
	<string>decorationForStage</string>
	<key>iconDecoratorCenter</key>
	<string>statefulAlongLayer</string>
	<key>presenterWithScope</key>
	<string>scrollWithAction</string>
</dict>
</plist>
