<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineDecoratorSaturation</key>
	<string>localButtonName</string>
	<key>builderInterpreterLocation</key>
	<string>protectedDrawerVelocity</string>
	<key>desktopStampBound</key>
	<string>cubitParameterStyle</string>
	<key>originalSubscriptionHead</key>
	<string>crucialResourceDistance</string>
	<key>resourceFromLayer</key>
	<string>groupOrLevel</string>
	<key>utilBeyondShape</key>
	<string>durationContextDistance</string>
</dict>
</plist>
