<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintValueShape</key>
	<string>projectFrameworkDepth</string>
	<key>desktopNotifierTheme</key>
	<string>transitionOperationCenter</string>
	<key>dialogsVariableBrightness</key>
	<string>pivotalContainerBehavior</string>
	<key>durationInterpreterOrigin</key>
	<string>slashExceptStructure</string>
	<key>radioDecoratorState</key>
	<string>sliderActivityAlignment</string>
	<key>sineThanJob</key>
	<string>presenterTierPressure</string>
	<key>sliderFunctionForce</key>
	<string>statelessScaffoldOrigin</string>
	<key>spotMementoLeft</key>
	<string>graphAboutMemento</string>
	<key>titleFromLayer</key>
	<string>retainedReferenceState</string>
</dict>
</plist>
