<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocCompositeLeft</key>
	<string>appbarAmongType</string>
	<key>draggableGraphicRotation</key>
	<string>axisInParameter</string>
	<key>easyResolverAcceleration</key>
	<string>optimizerDuringCycle</string>
	<key>mapProcessHue</key>
	<string>cycleActivityForce</string>
	<key>memberModeRotation</key>
	<string>statelessWidgetDirection</string>
	<key>sessionAndPrototype</key>
	<string>interpolationKindRotation</string>
	<key>sliderAmongParameter</key>
	<string>streamFacadeOrientation</string>
	<key>visibleEntropyMode</key>
	<string>dimensionWorkFrequency</string>
</dict>
</plist>
