<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoButtonPadding</key>
	<string>allocatorEnvironmentScale</string>
	<key>cubitPrototypeDelay</key>
	<string>intensityJobOrigin</string>
	<key>decorationTaskVisibility</key>
	<string>textureStateSkewx</string>
	<key>metadataOperationDistance</key>
	<string>easySizedboxOpacity</string>
	<key>prevSineBorder</key>
	<string>channelAtPlatform</string>
	<key>repositoryCommandStyle</key>
	<string>painterStyleFeedback</string>
	<key>topicChainTail</key>
	<string>invisibleSpineCoord</string>
</dict>
</plist>
