<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedNavigatorForce</key>
	<string>prevResolverOffset</string>
	<key>captionAboutKind</key>
	<string>imageNumberRate</string>
	<key>columnOutsideBridge</key>
	<string>gradientOperationOrientation</string>
	<key>consumerVersusCycle</key>
	<string>crudeMusicRate</string>
	<key>delicateErrorPosition</key>
	<string>scaffoldCompositeDistance</string>
	<key>grayscaleCommandBound</key>
	<string>buttonStructureFlags</string>
	<key>labelFlyweightRotation</key>
	<string>factoryWithoutStructure</string>
	<key>responsiveShaderSize</key>
	<string>columnSystemInterval</string>
	<key>textureForStrategy</key>
	<string>canvasAlongKind</string>
	<key>threadViaSystem</key>
	<string>brushObserverMargin</string>
</dict>
</plist>
