<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentTypeKind</key>
	<string>responseBeyondFacade</string>
	<key>featurePrototypeSpacing</key>
	<string>callbackMementoPressure</string>
	<key>interfaceObserverCoord</key>
	<string>builderBufferCenter</string>
	<key>unaryOrProxy</key>
	<string>labelVersusStructure</string>
</dict>
</plist>
