<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeToolAppearance</key>
	<string>batchJobSpeed</string>
	<key>respectivePaddingSize</key>
	<string>singletonAsActivity</string>
	<key>titleLayerAppearance</key>
	<string>mediaSingletonTint</string>
</dict>
</plist>
