<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAspectRotation</key>
	<string>reducerLevelEdge</string>
	<key>graphBesideObserver</key>
	<string>layoutContainProcess</string>
	<key>keyStateMargin</key>
	<string>channelAmongTemple</string>
	<key>newestPetFlags</key>
	<string>riverpodDuringJob</string>
	<key>permissiveDecorationResponse</key>
	<string>chartVersusScope</string>
	<key>profileFunctionResponse</key>
	<string>gridviewExceptScope</string>
	<key>rowLevelState</key>
	<string>hyperbolicBorderSize</string>
	<key>swiftAwayState</key>
	<string>fusedEqualizationOffset</string>
	<key>viewMethodRotation</key>
	<string>handlerTempleBrightness</string>
</dict>
</plist>
