<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBlocCoord</key>
	<string>keyCommandSkewy</string>
	<key>criticalBaseCount</key>
	<string>playbackAndBridge</string>
	<key>exceptionModeSkewx</key>
	<string>typicalGrayscaleStyle</string>
	<key>singletonInsideLayer</key>
	<string>sensorObserverState</string>
	<key>subsequentConvolutionInteraction</key>
	<string>activatedQueryInterval</string>
	<key>tweenStageCoord</key>
	<string>nodeByCycle</string>
</dict>
</plist>
