<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitStructureMargin</key>
	<string>firstPositionTransparency</string>
	<key>crucialAnchorSpacing</key>
	<string>exponentContainPattern</string>
	<key>durationAwayDecorator</key>
	<string>durationActionLeft</string>
	<key>integerFromTemple</key>
	<string>tangentMethodName</string>
	<key>menuMethodSpacing</key>
	<string>collectionVarAlignment</string>
	<key>radiusEnvironmentStyle</key>
	<string>movementByBuffer</string>
	<key>rowThroughState</key>
	<string>decorationWithKind</string>
	<key>segueMediatorForce</key>
	<string>errorActivityRotation</string>
</dict>
</plist>
