<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeConstraintDirection</key>
	<string>remainderVariableFrequency</string>
	<key>customScrollHead</key>
	<string>smallMediaInterval</string>
	<key>exponentSingletonCenter</key>
	<string>movementStyleDelay</string>
	<key>missedCallbackTag</key>
	<string>buttonStateTheme</string>
	<key>movementIncludeFacade</key>
	<string>permissiveMaterialMargin</string>
	<key>richtextAtActivity</key>
	<string>semanticsAgainstInterpreter</string>
	<key>seamlessContainerSpeed</key>
	<string>criticalViewLocation</string>
	<key>singletonExceptFunction</key>
	<string>hashShapePressure</string>
	<key>standaloneButtonFrequency</key>
	<string>globalGradientInset</string>
</dict>
</plist>
