<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncOperationTheme</key>
	<string>tweenParameterTail</string>
	<key>gesturedetectorPlatformCenter</key>
	<string>autoQueueName</string>
	<key>intermediateStoryboardContrast</key>
	<string>mutableSizedboxVisibility</string>
	<key>musicAtParameter</key>
	<string>arithmeticMobxInterval</string>
	<key>navigatorOutsideKind</key>
	<string>hardStatelessBehavior</string>
	<key>singletonAroundBuffer</key>
	<string>requiredGemForce</string>
</dict>
</plist>
