<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientOperationCoord</key>
	<string>gesturedetectorPerFlyweight</string>
	<key>gradientUntilState</key>
	<string>rowMediatorPosition</string>
	<key>newestListviewDensity</key>
	<string>publicMobileFormat</string>
	<key>singletonFlyweightAppearance</key>
	<string>tickerAwayChain</string>
	<key>sliderLayerSpacing</key>
	<string>mobxDuringParam</string>
	<key>usecaseOrContext</key>
	<string>cardViaState</string>
</dict>
</plist>
