<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledRadioTension</key>
	<string>promiseThroughPhase</string>
	<key>gridviewInsideTemple</key>
	<string>standaloneGraphBrightness</string>
	<key>heroAboutCommand</key>
	<string>opaqueMatrixRotation</string>
	<key>injectionScopeOffset</key>
	<string>firstGramDirection</string>
	<key>missedKernelCoord</key>
	<string>methodExceptCommand</string>
	<key>petAlongMediator</key>
	<string>dimensionOperationContrast</string>
	<key>prevSpineState</key>
	<string>buttonParameterVelocity</string>
	<key>resolverByMemento</key>
	<string>radiusFacadeDistance</string>
	<key>screenForAdapter</key>
	<string>characterLikeProxy</string>
</dict>
</plist>
