<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSystemOpacity</key>
	<string>hyperbolicCollectionTheme</string>
	<key>animationKindBottom</key>
	<string>commonSceneRight</string>
	<key>awaitWorkFlags</key>
	<string>stampStageHue</string>
	<key>concreteSpriteFrequency</key>
	<string>boxshadowActionOrientation</string>
	<key>finalRowAlignment</key>
	<string>scrollableBitrateMomentum</string>
	<key>normWorkHead</key>
	<string>variantStyleDepth</string>
	<key>petVarColor</key>
	<string>staticTickerCoord</string>
	<key>reusableAssetBrightness</key>
	<string>behaviorWithoutCommand</string>
</dict>
</plist>
