<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorInSystem</key>
	<string>granularLocalizationTint</string>
	<key>easyGrainAppearance</key>
	<string>utilFlyweightBehavior</string>
	<key>liteEntityBottom</key>
	<string>projectFlyweightAcceleration</string>
	<key>modalOrType</key>
	<string>mainBehaviorOffset</string>
	<key>priorityLayerInterval</key>
	<string>projectCycleLocation</string>
	<key>robustPositionBorder</key>
	<string>entropyDecoratorState</string>
</dict>
</plist>
