<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticJobShape</key>
	<string>arithmeticCurveFrequency</string>
	<key>eagerIconKind</key>
	<string>reactiveFlexIndex</string>
	<key>globalInterfaceVisible</key>
	<string>previewViaPattern</string>
	<key>menuFacadeSpeed</key>
	<string>canvasPhaseSpacing</string>
	<key>modulusPlatformMomentum</key>
	<string>autoBlocAppearance</string>
	<key>priorLocalizationLeft</key>
	<string>permanentReductionDistance</string>
	<key>scrollableDescriptorScale</key>
	<string>priorityPlatformVelocity</string>
	<key>sineSystemBrightness</key>
	<string>constOffsetInset</string>
</dict>
</plist>
