<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnOutsideLayer</key>
	<string>declarativeContainerEdge</string>
	<key>futurePlatformInterval</key>
	<string>sceneEnvironmentStatus</string>
	<key>ignoredSinkAlignment</key>
	<string>particleMethodCount</string>
	<key>offsetInTier</key>
	<string>movementShapeDepth</string>
	<key>positionedMethodState</key>
	<string>pageviewAndObserver</string>
	<key>transformerVisitorCoord</key>
	<string>textfieldByAction</string>
</dict>
</plist>
