<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentFactorySpacing</key>
	<string>associatedLayoutMomentum</string>
	<key>deferredHashContrast</key>
	<string>instructionAtCycle</string>
	<key>heroShapeSkewx</key>
	<string>lossStateDensity</string>
	<key>labelOperationEdge</key>
	<string>bulletProxyDepth</string>
	<key>layoutKindAcceleration</key>
	<string>customDescriptionHead</string>
	<key>mapUntilPlatform</key>
	<string>priorityStateVelocity</string>
	<key>masterChainInteraction</key>
	<string>independentCompletionResponse</string>
	<key>mobileScaffoldTag</key>
	<string>rowNumberSkewx</string>
	<key>transformerStructureLeft</key>
	<string>accessoryChainDelay</string>
</dict>
</plist>
