<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveConsumerOrigin</key>
	<string>cartesianMenuState</string>
	<key>concurrentIntensityStatus</key>
	<string>scrollablePromisePressure</string>
	<key>currentExpandedRotation</key>
	<string>zoneAwayStrategy</string>
	<key>requiredNavigatorTop</key>
	<string>futureExceptProxy</string>
	<key>resourceAsStructure</key>
	<string>marginStateName</string>
	<key>skirtStrategyInset</key>
	<string>iterativeWorkflowTop</string>
</dict>
</plist>
