<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeWorkflowRight</key>
	<string>previewMediatorTop</string>
	<key>disparateBlocMode</key>
	<string>modulusVarRotation</string>
	<key>materialSinceVar</key>
	<string>resizableLayoutDistance</string>
	<key>observerAtCommand</key>
	<string>listviewOutsideProxy</string>
	<key>pageviewIncludeAdapter</key>
	<string>toolExceptParameter</string>
	<key>providerOfStrategy</key>
	<string>sustainableDescriptionBottom</string>
	<key>queueTypeRate</key>
	<string>callbackFormCoord</string>
	<key>streamMementoName</key>
	<string>containerThanTemple</string>
	<key>vectorVariablePosition</key>
	<string>delegateUntilStrategy</string>
</dict>
</plist>
