<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAspectEdge</key>
	<string>particleNearBuffer</string>
	<key>delegateVersusPrototype</key>
	<string>widgetFromTemple</string>
	<key>gridviewObserverBorder</key>
	<string>gradientInterpreterSpeed</string>
	<key>materialSymbolOrientation</key>
	<string>indicatorVersusFunction</string>
	<key>modulusDecoratorInterval</key>
	<string>layoutThanTask</string>
	<key>newestNibDirection</key>
	<string>standaloneCapacitiesTop</string>
	<key>protocolFunctionFormat</key>
	<string>techniquePlatformInset</string>
	<key>sophisticatedCompositionBottom</key>
	<string>streamNearFacade</string>
	<key>tensorExponentState</key>
	<string>missedUnaryHead</string>
	<key>variantPlatformAlignment</key>
	<string>petWorkShade</string>
</dict>
</plist>
