<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackPerLayer</key>
	<string>cursorBufferInterval</string>
	<key>commonResponseDensity</key>
	<string>commandFacadeMargin</string>
	<key>exponentTypeColor</key>
	<string>tappableCapacitiesBorder</string>
	<key>intensityEnvironmentStyle</key>
	<string>sizedboxForVariable</string>
	<key>listenerCompositeTheme</key>
	<string>rapidSwitchMomentum</string>
	<key>navigatorScopeVisible</key>
	<string>managerBesideAction</string>
	<key>persistentConstraintFormat</key>
	<string>activatedTabbarDuration</string>
	<key>transformerActivityOffset</key>
	<string>grainTierVisibility</string>
	<key>usecaseAtActivity</key>
	<string>singletonPerObserver</string>
	<key>visibleActivityCount</key>
	<string>plateExceptSingleton</string>
</dict>
</plist>
