<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileIsolateVelocity</key>
	<string>otherGridviewMomentum</string>
	<key>momentumFacadeTail</key>
	<string>cubeNumberStyle</string>
	<key>semanticWidgetIndex</key>
	<string>flexibleGradientBrightness</string>
	<key>sortedRowSize</key>
	<string>getxStructureRotation</string>
	<key>taskTierValidation</key>
	<string>desktopTopicInset</string>
</dict>
</plist>
