<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioTypeShade</key>
	<string>methodModeBorder</string>
	<key>bufferBeyondStructure</key>
	<string>transformerAsVar</string>
	<key>instructionForLevel</key>
	<string>captionAboutObserver</string>
	<key>isolatePerTemple</key>
	<string>equipmentVisitorRotation</string>
	<key>storeIncludeType</key>
	<string>persistentChallengePosition</string>
</dict>
</plist>
