<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushStructureTail</key>
	<string>listviewJobVelocity</string>
	<key>captionTierBound</key>
	<string>screenJobBehavior</string>
	<key>dependencyOfShape</key>
	<string>subsequentButtonFlags</string>
	<key>heroDecoratorPressure</key>
	<string>routeFromBridge</string>
	<key>lastWidgetSpeed</key>
	<string>ephemeralResponseInset</string>
	<key>lostCosineResponse</key>
	<string>mediumAlignmentSize</string>
	<key>modelParamTop</key>
	<string>crudeHandlerState</string>
</dict>
</plist>
