<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitByState</key>
	<string>singletonOfTier</string>
	<key>baselineWithoutMediator</key>
	<string>sessionBufferKind</string>
	<key>beginnerAlignmentIndex</key>
	<string>positionNearStage</string>
	<key>cartesianFutureBehavior</key>
	<string>roleBesideValue</string>
	<key>difficultMissionAlignment</key>
	<string>reductionForValue</string>
	<key>dimensionBeyondFacade</key>
	<string>labelStateName</string>
	<key>semanticCallbackForce</key>
	<string>queryOutsideStructure</string>
	<key>tensorSymbolSize</key>
	<string>substantialBuilderType</string>
	<key>titleIncludeChain</key>
	<string>skirtIncludeFramework</string>
</dict>
</plist>
