<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGiftStyle</key>
	<string>taskAtVariable</string>
	<key>borderMementoName</key>
	<string>particleFunctionMode</string>
	<key>handlerBufferDirection</key>
	<string>layoutScopeVelocity</string>
	<key>intuitiveEntropyTop</key>
	<string>priorControllerLeft</string>
	<key>respectiveTouchCoord</key>
	<string>localDescriptorColor</string>
	<key>resultActionTension</key>
	<string>cardProxySpacing</string>
	<key>spineBesideMemento</key>
	<string>textureStateResponse</string>
	<key>taskIncludeShape</key>
	<string>prevSpecifierSpeed</string>
	<key>topicStructureInteraction</key>
	<string>labelThanLevel</string>
	<key>viewBesidePattern</key>
	<string>coordinatorProxyRate</string>
</dict>
</plist>
