<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSpotScale</key>
	<string>robustContainerVisible</string>
	<key>collectionContextTransparency</key>
	<string>anchorThroughFramework</string>
	<key>fragmentContextCenter</key>
	<string>containerActivityTheme</string>
	<key>layerAtJob</key>
	<string>responsiveStatelessBrightness</string>
	<key>layoutStagePressure</key>
	<string>priorityWithStrategy</string>
	<key>localMomentumHue</key>
	<string>inactiveMethodStatus</string>
	<key>missedResourceDuration</key>
	<string>aspectratioInterpreterShape</string>
	<key>robustLabelInset</key>
	<string>collectionNearWork</string>
	<key>uniqueAnimationMomentum</key>
	<string>textInLevel</string>
	<key>usecaseOfCommand</key>
	<string>dependencyDecoratorTension</string>
</dict>
</plist>
