<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionJobType</key>
	<string>anchorBeyondShape</string>
	<key>animationCyclePosition</key>
	<string>concurrentResourceMargin</string>
	<key>ignoredCertificatePressure</key>
	<string>metadataIncludeMethod</string>
	<key>sizeParameterBrightness</key>
	<string>segueNearProcess</string>
	<key>textureCycleSpeed</key>
	<string>nativeServiceState</string>
	<key>unaryBridgePosition</key>
	<string>bitrateOfParameter</string>
</dict>
</plist>
