<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerFunctionDepth</key>
	<string>reactiveActivityCoord</string>
	<key>hyperbolicCubeAcceleration</key>
	<string>entityAroundTier</string>
	<key>promiseAgainstStructure</key>
	<string>statefulTransformerTail</string>
	<key>protectedProgressbarSkewy</key>
	<string>symbolOperationOpacity</string>
	<key>rectParameterBottom</key>
	<string>localMobxKind</string>
	<key>textureThroughTier</key>
	<string>listenerTaskBorder</string>
</dict>
</plist>
