<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianInkwellResponse</key>
	<string>temporaryDescriptionHead</string>
	<key>crudeActionShape</key>
	<string>prismaticSubscriptionInset</string>
	<key>cycleNearForm</key>
	<string>statelessProcessStyle</string>
	<key>discardedPromisePosition</key>
	<string>cosineAtContext</string>
	<key>menuStageColor</key>
	<string>interfaceThroughMode</string>
	<key>originalSpriteHead</key>
	<string>reactiveConfigurationForce</string>
	<key>sineSingletonKind</key>
	<string>asynchronousOptimizerAlignment</string>
	<key>transformerDuringAction</key>
	<string>interactorProcessIndex</string>
</dict>
</plist>
