<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleMediatorMomentum</key>
	<string>backwardSwiftTheme</string>
	<key>methodPlatformVisibility</key>
	<string>projectionAwayMediator</string>
	<key>notificationBesideSystem</key>
	<string>handlerNearInterpreter</string>
	<key>queuePerNumber</key>
	<string>intensityOutsideParameter</string>
	<key>symmetricCubitState</key>
	<string>consultativeInterfaceKind</string>
</dict>
</plist>
