<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertKindDuration</key>
	<string>mediumRepositoryLocation</string>
	<key>independentMediaRight</key>
	<string>cartesianCaptionVisibility</string>
	<key>intuitiveVariantTag</key>
	<string>flexibleErrorSpacing</string>
	<key>localizationMethodBound</key>
	<string>declarativeTweenContrast</string>
	<key>retainedCycleSkewx</key>
	<string>keyPopupLeft</string>
	<key>seamlessZoneSaturation</key>
	<string>previewAndParam</string>
	<key>tabbarPerParameter</key>
	<string>metadataNumberInteraction</string>
</dict>
</plist>
