<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelByProxy</key>
	<string>granularSingletonRotation</string>
	<key>dropdownbuttonAmongMode</key>
	<string>imageCompositeFormat</string>
	<key>enabledCapacitiesHue</key>
	<string>synchronousEqualizationAlignment</string>
	<key>giftObserverDelay</key>
	<string>currentCharacterTail</string>
	<key>localTitleSaturation</key>
	<string>desktopTernaryFormat</string>
	<key>nativeZoneDepth</key>
	<string>characterStyleOpacity</string>
	<key>nextNotifierBorder</key>
	<string>subpixelContainValue</string>
	<key>scrollableFrameOrientation</key>
	<string>curveMethodMode</string>
	<key>semanticsAtMemento</key>
	<string>imperativeStackVisibility</string>
	<key>transitionPrototypeRate</key>
	<string>entropyPatternMomentum</string>
</dict>
</plist>
