<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchObserverBound</key>
	<string>parallelExtensionKind</string>
	<key>builderOutsideWork</key>
	<string>inactiveRadioAcceleration</string>
	<key>decorationFunctionScale</key>
	<string>spotEnvironmentLocation</string>
	<key>groupValueVisible</key>
	<string>cosineForState</string>
	<key>listenerStyleDuration</key>
	<string>originalBehaviorVelocity</string>
	<key>nibBesideSystem</key>
	<string>spriteAboutLevel</string>
	<key>streamWithoutComposite</key>
	<string>basicProgressbarEdge</string>
	<key>textFormTail</key>
	<string>intuitiveTickerDensity</string>
</dict>
</plist>
