<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationStyleType</key>
	<string>equalizationBufferColor</string>
	<key>factoryThroughFramework</key>
	<string>batchAgainstTemple</string>
	<key>finalNibHead</key>
	<string>heroAgainstShape</string>
	<key>mediaUntilMediator</key>
	<string>inheritedSkirtAppearance</string>
	<key>mobileCharacterRotation</key>
	<string>storageBeyondVar</string>
	<key>routeAgainstMemento</key>
	<string>toolAdapterValidation</string>
	<key>sliderOutsideInterpreter</key>
	<string>modulusSinceState</string>
	<key>touchDespiteMediator</key>
	<string>denseMaterialMomentum</string>
</dict>
</plist>
