<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAsCommand</key>
	<string>movementAlongParameter</string>
	<key>gramFacadeLocation</key>
	<string>gramDecoratorPressure</string>
	<key>offsetViaParameter</key>
	<string>bufferInterpreterTail</string>
	<key>pageviewParameterDelay</key>
	<string>grainFormFlags</string>
	<key>sizeMediatorSpacing</key>
	<string>visibleFeatureRate</string>
	<key>tensorArithmeticDepth</key>
	<string>hierarchicalPreviewAcceleration</string>
</dict>
</plist>
