<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderExceptParameter</key>
	<string>resultOutsideOperation</string>
	<key>modalFacadePressure</key>
	<string>resizableEntropyResponse</string>
	<key>playbackExceptDecorator</key>
	<string>crudeColumnTension</string>
	<key>subpixelPerVisitor</key>
	<string>adaptiveFactoryDelay</string>
</dict>
</plist>
