<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonBesideChain</key>
	<string>threadUntilMode</string>
	<key>finalRequestDirection</key>
	<string>concreteButtonType</string>
	<key>groupThanPlatform</key>
	<string>dimensionDecoratorSpacing</string>
	<key>optimizerEnvironmentType</key>
	<string>batchLevelTag</string>
	<key>tabbarBesideStrategy</key>
	<string>ephemeralRadiusOrigin</string>
	<key>taskDuringFlyweight</key>
	<string>rowWithoutStructure</string>
</dict>
</plist>
