<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopFactoryType</key>
	<string>characterAboutJob</string>
	<key>discardedLossSize</key>
	<string>relationalUtilMomentum</string>
	<key>loopTierTransparency</key>
	<string>animationInsideAction</string>
	<key>mobileGraphRotation</key>
	<string>respectiveFragmentRight</string>
	<key>multiTransitionMomentum</key>
	<string>notifierMethodTension</string>
	<key>stateFlyweightIndex</key>
	<string>routerWithoutStage</string>
</dict>
</plist>
