<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentMementoBottom</key>
	<string>activatedBulletColor</string>
	<key>listenerBesideTemple</key>
	<string>blocLayerFlags</string>
	<key>matrixByComposite</key>
	<string>intensityParameterPosition</string>
	<key>notifierAmongTemple</key>
	<string>specifierTempleInset</string>
	<key>sophisticatedScrollSpacing</key>
	<string>customizedConfigurationPosition</string>
	<key>symmetricLayoutName</key>
	<string>optionShapeAppearance</string>
</dict>
</plist>
