<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticCyclePadding</key>
	<string>normalReducerFeedback</string>
	<key>remainderChainContrast</key>
	<string>scaffoldAndStrategy</string>
	<key>resourceAwayJob</key>
	<string>progressbarAsProxy</string>
</dict>
</plist>
