<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableTaskVelocity</key>
	<string>projectCommandInset</string>
	<key>histogramNumberOffset</key>
	<string>widgetSinceProxy</string>
	<key>rectUntilChain</key>
	<string>logProxyScale</string>
	<key>resilientViewKind</key>
	<string>radiusLikeStage</string>
	<key>sensorOrPlatform</key>
	<string>tickerVarMargin</string>
	<key>sequentialBitrateCount</key>
	<string>geometricBrushInset</string>
	<key>tappableDecorationBehavior</key>
	<string>temporaryErrorBehavior</string>
	<key>ternaryShapeScale</key>
	<string>histogramSingletonSkewy</string>
	<key>vectorDecoratorStyle</key>
	<string>exceptionPhaseDepth</string>
</dict>
</plist>
