<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintThroughInterpreter</key>
	<string>multiAlignmentDirection</string>
	<key>directSubpixelResponse</key>
	<string>sliderMediatorSize</string>
	<key>newestSkirtDensity</key>
	<string>textfieldAwayTask</string>
	<key>routerVisitorTop</key>
	<string>overlayPatternInset</string>
	<key>uniqueBuilderScale</key>
	<string>delegateMethodRight</string>
</dict>
</plist>
