<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisStrategyColor</key>
	<string>compositionalCurveSpacing</string>
	<key>eventJobHead</key>
	<string>activatedGradientSpeed</string>
	<key>labelInsideStrategy</key>
	<string>associatedCanvasOffset</string>
	<key>switchPlatformSpeed</key>
	<string>reducerIncludeDecorator</string>
	<key>tableOfDecorator</key>
	<string>anchorVersusSystem</string>
</dict>
</plist>
