<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCapsuleFeedback</key>
	<string>uniqueOptimizerFeedback</string>
	<key>baseBesideProxy</key>
	<string>eagerBuilderBrightness</string>
	<key>buttonBesideValue</key>
	<string>remainderExceptChain</string>
	<key>criticalCardFrequency</key>
	<string>buttonByTemple</string>
	<key>curvePatternAppearance</key>
	<string>materialSliderTop</string>
	<key>directInterpolationPosition</key>
	<string>specifierWithPhase</string>
	<key>entropyVisitorAppearance</key>
	<string>retainedGraphicShade</string>
	<key>materialBitrateFlags</key>
	<string>mainAllocatorBrightness</string>
	<key>modelDespiteState</key>
	<string>channelVersusVar</string>
	<key>typicalAnimatedcontainerDirection</key>
	<string>subscriptionAsAdapter</string>
</dict>
</plist>
