<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerInFunction</key>
	<string>respectiveWidgetBottom</string>
	<key>grainScopeOrigin</key>
	<string>tangentProcessForce</string>
	<key>logarithmInterpreterLocation</key>
	<string>interactiveFeatureEdge</string>
	<key>presenterVarOpacity</key>
	<string>streamUntilLayer</string>
	<key>riverpodAroundTask</key>
	<string>vectorPatternTail</string>
	<key>routeActivityHead</key>
	<string>scaffoldVarTop</string>
</dict>
</plist>
