<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferActivityTension</key>
	<string>curveAboutNumber</string>
	<key>capsulePerType</key>
	<string>durationProxyDepth</string>
	<key>mainIsolateFrequency</key>
	<string>permanentScrollFormat</string>
	<key>monsterPhaseFormat</key>
	<string>scaffoldTaskVisibility</string>
	<key>painterFlyweightColor</key>
	<string>petParamBound</string>
	<key>protectedExponentBottom</key>
	<string>inactiveViewSaturation</string>
	<key>reducerThanMethod</key>
	<string>gridviewAboutScope</string>
	<key>storeAwayTier</key>
	<string>touchAroundEnvironment</string>
</dict>
</plist>
