<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationPrototypeLocation</key>
	<string>mediaTierKind</string>
	<key>dedicatedUnaryBound</key>
	<string>rapidSkirtSpeed</string>
	<key>entityVisitorHead</key>
	<string>activatedSignTail</string>
	<key>gesturedetectorCycleOffset</key>
	<string>zoneTaskInteraction</string>
	<key>gradientAtNumber</key>
	<string>interactiveGroupType</string>
	<key>listviewLikeMethod</key>
	<string>descriptorNumberDelay</string>
	<key>pageviewActivityAcceleration</key>
	<string>commonCommandCount</string>
	<key>subtleAnimationTheme</key>
	<string>tickerThroughFlyweight</string>
	<key>tangentFrameworkDelay</key>
	<string>sharedBaseDelay</string>
	<key>tickerFlyweightDepth</key>
	<string>observerSingletonMomentum</string>
</dict>
</plist>
