<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialLabelIndex</key>
	<string>methodProcessDuration</string>
	<key>delegateScopeDuration</key>
	<string>sampleViaContext</string>
	<key>globalStatefulPressure</key>
	<string>constraintOutsideDecorator</string>
	<key>listenerMementoOpacity</key>
	<string>taskPlatformAlignment</string>
	<key>reactiveChartBound</key>
	<string>gridIncludeChain</string>
	<key>sortedQueueVelocity</key>
	<string>functionalMomentumFormat</string>
	<key>specifySizeShade</key>
	<string>navigationOrVariable</string>
</dict>
</plist>
