<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSignForce</key>
	<string>priorMovementName</string>
	<key>materialBlocDepth</key>
	<string>cellInChain</string>
	<key>radiusExceptOperation</key>
	<string>reusableCycleForce</string>
	<key>responsePlatformOpacity</key>
	<string>functionalSpecifierColor</string>
	<key>viewProxyMomentum</key>
	<string>convolutionInMethod</string>
</dict>
</plist>
