<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioContainState</key>
	<string>singletonOperationInterval</string>
	<key>cacheBeyondObserver</key>
	<string>priorSwiftInterval</string>
	<key>delicateCompositionSpeed</key>
	<string>cursorActivityForce</string>
	<key>ephemeralTableOrigin</key>
	<string>pointVarTint</string>
	<key>labelOfPhase</key>
	<string>interactiveLabelShade</string>
	<key>routerVisitorDuration</key>
	<string>radioSinceObserver</string>
	<key>sineFromBuffer</key>
	<string>giftAtStage</string>
	<key>specifyBlocDuration</key>
	<string>customizedQueryFormat</string>
</dict>
</plist>
