<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoUsecaseRight</key>
	<string>checkboxThanPhase</string>
	<key>columnVisitorKind</key>
	<string>visibleStoreBottom</string>
	<key>denseGradientSpacing</key>
	<string>decorationFacadeMargin</string>
	<key>dimensionTaskForce</key>
	<string>gridStyleTension</string>
	<key>effectJobBehavior</key>
	<string>dropdownbuttonNumberSkewx</string>
	<key>finalSubscriptionColor</key>
	<string>resultExceptCommand</string>
	<key>imperativeMomentumMargin</key>
	<string>activeTextForce</string>
	<key>mobxCompositeCoord</key>
	<string>labelEnvironmentSpeed</string>
	<key>tickerContainMediator</key>
	<string>sinkAsForm</string>
</dict>
</plist>
