<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelPhaseLocation</key>
	<string>providerSystemRotation</string>
	<key>oldLogarithmMode</key>
	<string>utilStateOffset</string>
	<key>requiredScaffoldAlignment</key>
	<string>exceptionThroughSystem</string>
</dict>
</plist>
