<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>precisionPlatformContrast</key>
	<string>diversifiedMobileOrientation</string>
	<key>responseIncludePlatform</key>
	<string>numericalEffectInset</string>
	<key>routerParamMode</key>
	<string>iterativeGiftStatus</string>
	<key>taskBesideLayer</key>
	<string>metadataKindHead</string>
</dict>
</plist>
