<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveContainerOffset</key>
	<string>statefulThanActivity</string>
	<key>aspectratioStageSkewy</key>
	<string>otherBuilderSaturation</string>
	<key>observerThanAdapter</key>
	<string>graphWithPattern</string>
	<key>roleByNumber</key>
	<string>capsuleInLayer</string>
	<key>usedListenerHead</key>
	<string>modulusLikeFunction</string>
</dict>
</plist>
