<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasOrProcess</key>
	<string>entityBridgeOpacity</string>
	<key>declarativePopupTag</key>
	<string>spotDespiteProxy</string>
	<key>spriteVariableOpacity</key>
	<string>characterVisitorRotation</string>
</dict>
</plist>
