<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAboutStyle</key>
	<string>difficultObserverPosition</string>
	<key>gateIncludeTask</key>
	<string>curveDespiteLayer</string>
	<key>resolverNearFlyweight</key>
	<string>sliderMediatorDensity</string>
	<key>scenePatternLeft</key>
	<string>featureDuringBridge</string>
</dict>
</plist>
