<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedFramePressure</key>
	<string>axisMethodKind</string>
	<key>behaviorActionTint</key>
	<string>cubitOfPhase</string>
	<key>bulletScopePosition</key>
	<string>animationCompositeStyle</string>
	<key>diversifiedPromiseState</key>
	<string>memberOrStrategy</string>
	<key>graphActivityRate</key>
	<string>lostHandlerHue</string>
	<key>loopThanInterpreter</key>
	<string>menuStructureName</string>
	<key>nativeRowHead</key>
	<string>imageNearParameter</string>
	<key>routeActivityMargin</key>
	<string>requestLikeLayer</string>
	<key>semanticSingletonAppearance</key>
	<string>completerOutsideStage</string>
	<key>sophisticatedCoordinatorTint</key>
	<string>nextScrollVisible</string>
</dict>
</plist>
