<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAlignmentTension</key>
	<string>exceptionVariablePressure</string>
	<key>blocOrValue</key>
	<string>managerOfContext</string>
	<key>buttonNearSingleton</key>
	<string>activeInterfaceDirection</string>
	<key>containerValueEdge</key>
	<string>alphaMethodContrast</string>
	<key>errorFacadeInset</key>
	<string>coordinatorPlatformTension</string>
	<key>modalPatternSkewy</key>
	<string>checkboxSinceMode</string>
	<key>particlePrototypeInset</key>
	<string>cursorOutsideTemple</string>
</dict>
</plist>
