<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralObserverCount</key>
	<string>reducerDespiteValue</string>
	<key>errorLevelPressure</key>
	<string>viewFormStyle</string>
	<key>seamlessAnchorMargin</key>
	<string>viewWithDecorator</string>
	<key>usecaseInStrategy</key>
	<string>zoneUntilLayer</string>
</dict>
</plist>
