<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleAmongLevel</key>
	<string>dependencyVariableRight</string>
	<key>gestureAdapterTheme</key>
	<string>newestAccessoryDistance</string>
	<key>mainStatelessInterval</key>
	<string>rectVersusEnvironment</string>
	<key>managerWithoutTemple</key>
	<string>unactivatedConstraintSize</string>
	<key>mediocreIntensityOrientation</key>
	<string>immediateRouterRate</string>
	<key>queryFacadeSaturation</key>
	<string>dependencyVariableName</string>
	<key>radiusBeyondShape</key>
	<string>taskOperationName</string>
	<key>streamPrototypePressure</key>
	<string>memberFacadeVelocity</string>
	<key>subscriptionTypeVisibility</key>
	<string>nativeSkinPadding</string>
</dict>
</plist>
