<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStoreBehavior</key>
	<string>integerTaskTension</string>
	<key>gesturedetectorOperationBound</key>
	<string>functionalStackFeedback</string>
	<key>labelByParameter</key>
	<string>movementMediatorOffset</string>
	<key>rapidAlphaTension</key>
	<string>hashWithoutNumber</string>
</dict>
</plist>
