<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineAboutTier</key>
	<string>remainderLikeLevel</string>
	<key>lossOutsideVariable</key>
	<string>singletonPlatformAcceleration</string>
	<key>routeAsStructure</key>
	<string>arithmeticPointBound</string>
</dict>
</plist>
