<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPrototypeValidation</key>
	<string>compositionalLoopTop</string>
	<key>keyCheckboxBound</key>
	<string>keyEqualizationDirection</string>
	<key>missionPerKind</key>
	<string>actionExceptProcess</string>
	<key>rapidSizedboxMomentum</key>
	<string>disparateMonsterTint</string>
	<key>signExceptNumber</key>
	<string>signAwayEnvironment</string>
</dict>
</plist>
