<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticGradientAcceleration</key>
	<string>globalChecklistStyle</string>
	<key>prevCertificateCenter</key>
	<string>boxshadowAroundPhase</string>
	<key>protocolByOperation</key>
	<string>variantIncludeCycle</string>
	<key>routerOrNumber</key>
	<string>presenterOrMemento</string>
	<key>specifyTextCoord</key>
	<string>activatedAsyncSpeed</string>
</dict>
</plist>
