<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTextAppearance</key>
	<string>switchContextSpeed</string>
	<key>batchParamLeft</key>
	<string>handlerVarFlags</string>
	<key>commandDespiteObserver</key>
	<string>visibleMomentumRight</string>
	<key>firstCurveStatus</key>
	<string>cursorInsideOperation</string>
	<key>fixedStreamDistance</key>
	<string>mutableQueueStatus</string>
	<key>popupPhaseVisibility</key>
	<string>deferredAnimationShade</string>
	<key>signatureAndMode</key>
	<string>spineStyleVisibility</string>
	<key>sinkValueBottom</key>
	<string>expandedPrototypeDirection</string>
	<key>zonePatternVisible</key>
	<string>serviceLikeProxy</string>
</dict>
</plist>
