<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWithKind</key>
	<string>asyncAwayVar</string>
	<key>dependencyForVariable</key>
	<string>commandAsVariable</string>
	<key>exceptionTaskDelay</key>
	<string>baselineActivityLeft</string>
	<key>granularSkirtLeft</key>
	<string>rectOfTier</string>
	<key>immutableSingletonBehavior</key>
	<string>mediocreIsolateVelocity</string>
	<key>intermediateTextStyle</key>
	<string>stackFlyweightFeedback</string>
	<key>localTopicMode</key>
	<string>mediocreEquipmentState</string>
	<key>techniqueNumberAppearance</key>
	<string>listenerUntilActivity</string>
</dict>
</plist>
