<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableExponentVisibility</key>
	<string>invisibleAppbarBound</string>
	<key>compositionLikeNumber</key>
	<string>constraintOrMemento</string>
	<key>gesturedetectorCompositeAppearance</key>
	<string>animatedcontainerCycleTheme</string>
	<key>greatSingletonName</key>
	<string>unsortedCallbackHue</string>
	<key>imageScopeCount</key>
	<string>isolateDuringTask</string>
	<key>intuitiveRoleRight</key>
	<string>logPatternMomentum</string>
	<key>multiRowMargin</key>
	<string>parallelStorageRate</string>
	<key>paddingSinceSystem</key>
	<string>sophisticatedMenuRight</string>
	<key>sequentialCapsuleOrigin</key>
	<string>curveForVariable</string>
</dict>
</plist>
