<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAmongFunction</key>
	<string>multiIsolateRotation</string>
	<key>curveOperationShape</key>
	<string>spineContextTag</string>
	<key>entropyNearProxy</key>
	<string>spotOrPrototype</string>
	<key>grainOrParam</key>
	<string>animatedcontainerFormLocation</string>
	<key>taskPlatformIndex</key>
	<string>decorationTypeScale</string>
	<key>textfieldAtVariable</key>
	<string>hashObserverBehavior</string>
	<key>widgetOfInterpreter</key>
	<string>unaryFrameworkScale</string>
</dict>
</plist>
