<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFacadeVelocity</key>
	<string>textAsSystem</string>
	<key>actionWithoutPattern</key>
	<string>sortedCompleterPosition</string>
	<key>bufferDuringMemento</key>
	<string>awaitScopeVisibility</string>
	<key>gridviewVersusPrototype</key>
	<string>nodeDuringMemento</string>
	<key>indicatorFormValidation</key>
	<string>momentumBridgeBrightness</string>
	<key>localizationProxyDirection</key>
	<string>substantialEffectMode</string>
	<key>missedSliderBehavior</key>
	<string>segueForKind</string>
	<key>missionKindTag</key>
	<string>arithmeticResourceForce</string>
	<key>navigationAtVisitor</key>
	<string>methodTaskContrast</string>
	<key>slashPlatformShape</key>
	<string>textPerKind</string>
</dict>
</plist>
