<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorInterpreterShape</key>
	<string>gradientPlatformBorder</string>
	<key>durationShapeFlags</key>
	<string>smallSpineAlignment</string>
	<key>intensityUntilCommand</key>
	<string>keyProgressbarAlignment</string>
	<key>iterativeDocumentSpeed</key>
	<string>clipperPatternRotation</string>
	<key>normalCubitHead</key>
	<string>immutableDescriptionKind</string>
	<key>prismaticConfigurationAlignment</key>
	<string>textfieldOfVisitor</string>
	<key>statefulSceneHead</key>
	<string>getxLayerAlignment</string>
</dict>
</plist>
