<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectBesideMediator</key>
	<string>marginByStrategy</string>
	<key>captionActionPadding</key>
	<string>semanticActionSkewy</string>
	<key>chapterTaskSpeed</key>
	<string>autoPaddingFeedback</string>
	<key>entropyCommandPressure</key>
	<string>screenCommandBehavior</string>
	<key>grainAlongNumber</key>
	<string>sortedDurationFeedback</string>
	<key>granularOffsetHue</key>
	<string>containerParamDirection</string>
	<key>marginParameterSkewx</key>
	<string>largeGroupDepth</string>
	<key>seamlessProgressbarScale</key>
	<string>previewSincePattern</string>
	<key>widgetPlatformVelocity</key>
	<string>transformerAmongVisitor</string>
</dict>
</plist>
