<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sampleAsEnvironment</key>
	<string>interactorChainTail</string>
	<key>staticGraphicRate</key>
	<string>animationFrameworkTail</string>
	<key>sustainableConstraintDistance</key>
	<string>aspectratioAboutMethod</string>
	<key>taskFromWork</key>
	<string>musicInNumber</string>
</dict>
</plist>
