<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCommandRight</key>
	<string>unactivatedEquipmentSkewy</string>
	<key>offsetSystemDepth</key>
	<string>temporaryCoordinatorFlags</string>
	<key>relationalBaseInteraction</key>
	<string>delicateStorageInteraction</string>
</dict>
</plist>
