<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetNumberState</key>
	<string>remainderScopeMargin</string>
	<key>cartesianColumnTint</key>
	<string>durationCommandStatus</string>
	<key>handlerUntilSingleton</key>
	<string>decorationShapeContrast</string>
	<key>stateAtFlyweight</key>
	<string>normalTitleBorder</string>
	<key>streamFromScope</key>
	<string>desktopRepositoryAcceleration</string>
	<key>subscriptionTempleCount</key>
	<string>brushBesideWork</string>
	<key>widgetActionForce</key>
	<string>blocVisitorStyle</string>
</dict>
</plist>
