<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateTempleDistance</key>
	<string>modalAroundParameter</string>
	<key>denseGesturedetectorInset</key>
	<string>sliderAlongBridge</string>
	<key>dialogsStagePressure</key>
	<string>positionMethodName</string>
	<key>effectExceptTask</key>
	<string>exponentSystemIndex</string>
	<key>flexibleTimerColor</key>
	<string>pivotalIsolateDuration</string>
	<key>reductionSystemScale</key>
	<string>numericalInjectionName</string>
	<key>relationalLocalizationIndex</key>
	<string>finalRepositoryBorder</string>
	<key>sortedSliderOffset</key>
	<string>fixedRouterPosition</string>
	<key>streamVisitorSkewy</key>
	<string>slashDecoratorStatus</string>
	<key>taskJobStyle</key>
	<string>durationWorkStyle</string>
</dict>
</plist>
