<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderActivityVisible</key>
	<string>effectVisitorLocation</string>
	<key>desktopButtonKind</key>
	<string>lastGraphAcceleration</string>
	<key>immediateInteractorResponse</key>
	<string>remainderNearFlyweight</string>
	<key>progressbarPhaseMomentum</key>
	<string>responsiveScaffoldIndex</string>
	<key>statelessFactoryInterval</key>
	<string>subtleEntityHue</string>
</dict>
</plist>
