<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleNavigatorLocation</key>
	<string>controllerContainFacade</string>
	<key>customizedAnimationIndex</key>
	<string>methodAboutMethod</string>
	<key>dynamicAlignmentDensity</key>
	<string>difficultButtonInterval</string>
	<key>exceptionInsidePattern</key>
	<string>capacitiesAsContext</string>
	<key>expandedCommandKind</key>
	<string>characterPlatformCenter</string>
	<key>symbolSystemSize</key>
	<string>slashFromBuffer</string>
	<key>tweenWithProxy</key>
	<string>declarativeGrainTop</string>
</dict>
</plist>
