<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAndVisitor</key>
	<string>uniqueSinkType</string>
	<key>dependencyDuringFramework</key>
	<string>diversifiedNavigatorType</string>
	<key>directlyGridviewSkewx</key>
	<string>sceneDecoratorDirection</string>
	<key>immediateActivityBorder</key>
	<string>frameBridgeSize</string>
	<key>listenerStagePosition</key>
	<string>hashPhaseIndex</string>
	<key>mutableTweenMomentum</key>
	<string>statelessAlongFlyweight</string>
	<key>routeSinceForm</key>
	<string>allocatorPrototypeLeft</string>
	<key>timerBeyondKind</key>
	<string>rectDespiteTemple</string>
</dict>
</plist>
