<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDescriptorDistance</key>
	<string>injectionVersusChain</string>
	<key>completionSingletonState</key>
	<string>navigatorSinceAction</string>
	<key>progressbarOfOperation</key>
	<string>rectPatternInterval</string>
	<key>sequentialDescriptionDepth</key>
	<string>curveIncludeStructure</string>
	<key>titleInFunction</key>
	<string>keyPositionOrientation</string>
</dict>
</plist>
