<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAroundInterpreter</key>
	<string>cupertinoConfigurationMode</string>
	<key>challengeBeyondLayer</key>
	<string>commonProviderOrientation</string>
	<key>missionActionTop</key>
	<string>containerAmongSingleton</string>
	<key>sliderVariableInteraction</key>
	<string>configurationCompositeTension</string>
	<key>toolActivityCount</key>
	<string>coordinatorBeyondDecorator</string>
</dict>
</plist>
