<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVisitorSaturation</key>
	<string>standaloneInstructionDuration</string>
	<key>channelLevelFeedback</key>
	<string>sophisticatedPresenterSaturation</string>
	<key>crudeVariantDistance</key>
	<string>publicEffectVelocity</string>
	<key>metadataSinceStructure</key>
	<string>textSystemStatus</string>
</dict>
</plist>
