<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAtMode</key>
	<string>entityVisitorName</string>
	<key>lostRouterTop</key>
	<string>directTangentVisibility</string>
	<key>movementUntilProcess</key>
	<string>agileMissionBottom</string>
	<key>routeDecoratorMomentum</key>
	<string>transitionTaskSkewx</string>
	<key>threadOutsidePrototype</key>
	<string>enabledAllocatorRotation</string>
</dict>
</plist>
