<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAdapterLeft</key>
	<string>semanticModelPressure</string>
	<key>graphicDuringObserver</key>
	<string>buttonPlatformOffset</string>
	<key>interfaceBridgeVisible</key>
	<string>mediaActionPadding</string>
	<key>isolateAtPhase</key>
	<string>providerNearMemento</string>
	<key>modelBufferInteraction</key>
	<string>widgetAwayAdapter</string>
	<key>routeScopeFrequency</key>
	<string>tweenPhaseName</string>
	<key>subtleGradientTint</key>
	<string>segmentMediatorSpeed</string>
	<key>topicForStructure</key>
	<string>standaloneResolverTransparency</string>
</dict>
</plist>
