<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMomentumBottom</key>
	<string>disparateButtonOffset</string>
	<key>asyncActionPadding</key>
	<string>viewKindStatus</string>
	<key>missionOrType</key>
	<string>masterMethodRotation</string>
	<key>platePerType</key>
	<string>skirtLikeLevel</string>
	<key>previewThroughMode</key>
	<string>localWidgetAlignment</string>
	<key>providerParamFrequency</key>
	<string>autoLogarithmInterval</string>
	<key>storeVarDistance</key>
	<string>documentAdapterFeedback</string>
	<key>storyboardWorkTheme</key>
	<string>swiftVisitorVisibility</string>
</dict>
</plist>
