<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalSampleBorder</key>
	<string>numericalFutureDepth</string>
	<key>custompaintViaFlyweight</key>
	<string>keyMaterialCenter</string>
	<key>gramMediatorInset</key>
	<string>providerThroughParameter</string>
	<key>utilCommandBottom</key>
	<string>inheritedDialogsEdge</string>
</dict>
</plist>
