<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryPrototypeSkewy</key>
	<string>routerVersusContext</string>
	<key>actionCycleAlignment</key>
	<string>seamlessPreviewStatus</string>
	<key>interactorUntilNumber</key>
	<string>smallTopicScale</string>
	<key>materialSinceStructure</key>
	<string>basicLayerOpacity</string>
	<key>responseOutsideProcess</key>
	<string>animatedcontainerFunctionCenter</string>
	<key>sceneStageTint</key>
	<string>activatedObserverSkewy</string>
</dict>
</plist>
