<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedStoreDepth</key>
	<string>finalGraphDelay</string>
	<key>bitrateOrLevel</key>
	<string>customEqualizationTint</string>
	<key>discardedWorkflowTop</key>
	<string>canvasWithSystem</string>
	<key>displayableEffectIndex</key>
	<string>mapScopePressure</string>
	<key>easyAspectratioMode</key>
	<string>textPhaseEdge</string>
	<key>popupAroundComposite</key>
	<string>blocPhasePressure</string>
	<key>storeModeStyle</key>
	<string>rapidSubscriptionColor</string>
</dict>
</plist>
