<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTaskSpeed</key>
	<string>multiplicationVarBehavior</string>
	<key>asynchronousEffectOrientation</key>
	<string>tabbarFromMediator</string>
	<key>granularBuilderSpacing</key>
	<string>layoutSinceLevel</string>
	<key>missedStateDelay</key>
	<string>layoutContainBuffer</string>
	<key>scaleTempleVisibility</key>
	<string>statelessMusicMode</string>
	<key>temporaryPositionOrigin</key>
	<string>subscriptionInCommand</string>
</dict>
</plist>
