<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionInterpreterHue</key>
	<string>easyModalSpacing</string>
	<key>interpolationShapeColor</key>
	<string>customContainerRight</string>
	<key>multiDocumentOrigin</key>
	<string>greatGiftSkewy</string>
	<key>tappableSegmentRate</key>
	<string>retainedRowFormat</string>
</dict>
</plist>
