<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyFlexTransparency</key>
	<string>groupAtContext</string>
	<key>groupBufferStatus</key>
	<string>specifierEnvironmentTag</string>
	<key>movementOperationTension</key>
	<string>curveEnvironmentAcceleration</string>
	<key>numericalContainerForce</key>
	<string>scrollInsideType</string>
	<key>sizeAsBuffer</key>
	<string>declarativeNotifierSpacing</string>
	<key>substantialTechniqueVelocity</key>
	<string>giftFacadePadding</string>
</dict>
</plist>
