<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionButtonShade</key>
	<string>backwardMediaDensity</string>
	<key>cubeAndPhase</key>
	<string>labelFunctionVisibility</string>
	<key>localizationValueResponse</key>
	<string>plateAroundWork</string>
	<key>marginForStyle</key>
	<string>frameWithoutContext</string>
	<key>matrixFrameworkBottom</key>
	<string>projectionDecoratorAppearance</string>
</dict>
</plist>
