<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStrategyCoord</key>
	<string>associatedSliderFlags</string>
	<key>columnFacadeInteraction</key>
	<string>resourceContainActivity</string>
	<key>drawerDuringMode</key>
	<string>taskStageBound</string>
	<key>liteIsolateAppearance</key>
	<string>persistentSubpixelPadding</string>
	<key>staticDurationLeft</key>
	<string>hardAnimationTint</string>
	<key>typicalMethodState</key>
	<string>equalizationKindState</string>
	<key>usecaseOperationRotation</key>
	<string>eagerSwitchLeft</string>
</dict>
</plist>
