<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderModeBorder</key>
	<string>baselineActionBound</string>
	<key>cardCompositeTension</key>
	<string>offsetUntilScope</string>
	<key>normBeyondTask</key>
	<string>threadShapeAppearance</string>
	<key>providerDuringTemple</key>
	<string>cacheTaskInterval</string>
	<key>repositoryKindHue</key>
	<string>brushObserverAcceleration</string>
	<key>scrollByTemple</key>
	<string>mobxAdapterDepth</string>
	<key>sustainablePopupMode</key>
	<string>cycleTierTag</string>
	<key>textNearMediator</key>
	<string>featureAlongParam</string>
	<key>uniformTableResponse</key>
	<string>observerBeyondState</string>
</dict>
</plist>
