<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationNearValue</key>
	<string>explicitObserverVisible</string>
	<key>aspectWithoutMediator</key>
	<string>lastCoordinatorType</string>
	<key>asyncObserverContrast</key>
	<string>threadStructureTheme</string>
	<key>cubitByActivity</key>
	<string>graphicSinceInterpreter</string>
	<key>delegateUntilMode</key>
	<string>otherAspectratioShape</string>
	<key>otherAspectHue</key>
	<string>buttonParameterSkewy</string>
	<key>protocolModeContrast</key>
	<string>sampleViaTemple</string>
	<key>requiredIsolateOrientation</key>
	<string>constMetadataPadding</string>
	<key>skinMethodKind</key>
	<string>delegateStyleTension</string>
	<key>tickerBeyondScope</key>
	<string>textAlongPlatform</string>
</dict>
</plist>
