<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxAboutBridge</key>
	<string>sinkThanEnvironment</string>
	<key>containerLayerSpeed</key>
	<string>arithmeticErrorEdge</string>
	<key>gridBeyondPlatform</key>
	<string>alignmentProxyRotation</string>
	<key>heroAboutStyle</key>
	<string>inheritedSpecifierSpeed</string>
	<key>largeReferenceBrightness</key>
	<string>cardCommandRight</string>
	<key>mediumGrainAlignment</key>
	<string>singletonFunctionAcceleration</string>
	<key>sliderActivitySize</key>
	<string>animationOperationRate</string>
	<key>tableFunctionTheme</key>
	<string>chartPrototypeAppearance</string>
	<key>transitionInsideCycle</key>
	<string>lossBeyondDecorator</string>
	<key>webPopupForce</key>
	<string>nodeAgainstSystem</string>
</dict>
</plist>
