<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerSystemIndex</key>
	<string>completerVisitorStyle</string>
	<key>concurrentResourceCoord</key>
	<string>ternaryObserverVisibility</string>
	<key>dedicatedBlocOrientation</key>
	<string>sustainablePlateIndex</string>
	<key>dialogsSinceProxy</key>
	<string>backwardBlocContrast</string>
	<key>dynamicCanvasPadding</key>
	<string>cubitInterpreterMode</string>
	<key>interfaceWithoutMemento</key>
	<string>immutableTabviewStyle</string>
	<key>keyCubitResponse</key>
	<string>stackObserverDistance</string>
	<key>promiseModeTop</key>
	<string>handlerAsValue</string>
	<key>sliderPhaseTension</key>
	<string>symmetricControllerName</string>
</dict>
</plist>
