<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSwiftName</key>
	<string>sampleParamDistance</string>
	<key>cacheLikeType</key>
	<string>uniformDrawerSpacing</string>
	<key>constraintAgainstVisitor</key>
	<string>gridAwayActivity</string>
	<key>eagerListviewVisibility</key>
	<string>dedicatedControllerOffset</string>
	<key>globalSceneFormat</key>
	<string>publicRouterContrast</string>
	<key>intensityContainEnvironment</key>
	<string>queueNumberFormat</string>
	<key>nodeInObserver</key>
	<string>easyVectorKind</string>
	<key>pointThroughPhase</key>
	<string>symmetricRepositoryShape</string>
	<key>sliderNearFlyweight</key>
	<string>dialogsMementoDelay</string>
	<key>unsortedGestureLeft</key>
	<string>checkboxTaskDelay</string>
</dict>
</plist>
