<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableParticleVelocity</key>
	<string>prismaticEntityPressure</string>
	<key>greatWidgetVisibility</key>
	<string>advancedQueueDelay</string>
	<key>lostMapTail</key>
	<string>agilePresenterSpacing</string>
	<key>modelDespiteDecorator</key>
	<string>disabledAssetVelocity</string>
	<key>pivotalViewHue</key>
	<string>sessionBesidePlatform</string>
	<key>rectSingletonTint</key>
	<string>prismaticDelegateCenter</string>
	<key>reductionTaskBorder</key>
	<string>dependencyTempleDirection</string>
	<key>serviceMethodStatus</key>
	<string>priorDependencyCenter</string>
</dict>
</plist>
