<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentModeSaturation</key>
	<string>mapActionForce</string>
	<key>composableCompletionFlags</key>
	<string>explicitModalDuration</string>
	<key>diversifiedSampleSkewy</key>
	<string>fixedCompositionStatus</string>
	<key>durationProxySpeed</key>
	<string>projectionTypeOrientation</string>
	<key>menuOrTask</key>
	<string>webAlignmentBehavior</string>
	<key>painterAsLayer</key>
	<string>subtleStreamSpacing</string>
	<key>resolverMementoSize</key>
	<string>mediumInteractorTag</string>
	<key>statefulCycleSkewx</key>
	<string>tangentPhaseHead</string>
	<key>symmetricCapsuleFlags</key>
	<string>agileStorageDelay</string>
</dict>
</plist>
