<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousEquipmentBottom</key>
	<string>finalSliderVisibility</string>
	<key>equalizationVisitorVelocity</key>
	<string>memberWorkTop</string>
	<key>radiusNearPrototype</key>
	<string>uniformConvolutionMargin</string>
	<key>topicFromBuffer</key>
	<string>petByJob</string>
</dict>
</plist>
