<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFlyweightAlignment</key>
	<string>channelsParamSpeed</string>
	<key>histogramAgainstStyle</key>
	<string>similarPainterRight</string>
	<key>musicChainDistance</key>
	<string>assetBeyondParameter</string>
	<key>oldResourceFeedback</key>
	<string>relationalTaskBehavior</string>
	<key>temporaryMethodContrast</key>
	<string>operationNumberLeft</string>
	<key>transitionTempleOrigin</key>
	<string>concurrentExpandedTheme</string>
</dict>
</plist>
