<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableNibFlags</key>
	<string>graphFunctionSaturation</string>
	<key>declarativeLayoutShade</key>
	<string>marginCompositeDirection</string>
	<key>liteSingletonBrightness</key>
	<string>substantialTickerState</string>
	<key>missedStoryboardValidation</key>
	<string>immutableTransformerRate</string>
	<key>storageDespiteParameter</key>
	<string>featureExceptVariable</string>
</dict>
</plist>
