<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionModePosition</key>
	<string>imperativeCellCoord</string>
	<key>animationAwayLevel</key>
	<string>persistentActionStatus</string>
	<key>eventAsTier</key>
	<string>sceneContextMargin</string>
	<key>grainAsWork</key>
	<string>managerPlatformDelay</string>
	<key>injectionAdapterEdge</key>
	<string>newestCapsuleFlags</string>
	<key>keyOptimizerTint</key>
	<string>titleFunctionSkewy</string>
	<key>paddingEnvironmentType</key>
	<string>chartFunctionMomentum</string>
	<key>sessionAwayTier</key>
	<string>constPopupDensity</string>
</dict>
</plist>
