<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterTypeSpacing</key>
	<string>beginnerAnchorTheme</string>
	<key>dimensionValueBorder</key>
	<string>localIntensityDelay</string>
	<key>instructionForSingleton</key>
	<string>coordinatorInSingleton</string>
	<key>precisionFromStyle</key>
	<string>unactivatedPositionState</string>
	<key>seamlessMultiplicationShade</key>
	<string>segueThanMediator</string>
</dict>
</plist>
