<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackModeBound</key>
	<string>radiusForPattern</string>
	<key>hashEnvironmentVisibility</key>
	<string>resilientTickerTail</string>
	<key>nextActionPosition</key>
	<string>curveThroughPrototype</string>
	<key>serviceInStyle</key>
	<string>injectionByState</string>
</dict>
</plist>
