<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionWithTask</key>
	<string>unaryAsFacade</string>
	<key>consultativeObserverFrequency</key>
	<string>repositoryOfValue</string>
	<key>factoryAwayContext</key>
	<string>canvasPhaseRotation</string>
	<key>gramLevelVelocity</key>
	<string>unsortedMissionEdge</string>
	<key>listenerTierVisibility</key>
	<string>eventFromType</string>
	<key>mediaqueryOrParameter</key>
	<string>scaleExceptState</string>
	<key>pivotalMediaAcceleration</key>
	<string>hardColumnColor</string>
	<key>plateInterpreterSpacing</key>
	<string>standalonePopupTint</string>
	<key>positionInsideVisitor</key>
	<string>routerSinceMethod</string>
</dict>
</plist>
