<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackModeDelay</key>
	<string>curveViaNumber</string>
	<key>compositionJobEdge</key>
	<string>retainedPageviewDuration</string>
	<key>controllerOrTemple</key>
	<string>statelessStoreValidation</string>
	<key>dimensionOrPattern</key>
	<string>precisionActivityRate</string>
	<key>requiredDrawerDepth</key>
	<string>tabbarMethodSpacing</string>
</dict>
</plist>
