<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalIndicatorCenter</key>
	<string>chartTypeDistance</string>
	<key>hierarchicalServiceCenter</key>
	<string>containerParameterTail</string>
	<key>matrixFacadeBrightness</key>
	<string>gridviewVarEdge</string>
	<key>memberThanBridge</key>
	<string>constraintUntilMethod</string>
	<key>queueIncludeMemento</key>
	<string>controllerAtForm</string>
	<key>symmetricDimensionShape</key>
	<string>synchronousPriorityVisibility</string>
	<key>tickerPhaseTension</key>
	<string>concurrentRiverpodLocation</string>
</dict>
</plist>
