<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureWorkLocation</key>
	<string>aspectratioNearJob</string>
	<key>descriptorBufferVelocity</key>
	<string>backwardSegueVisibility</string>
	<key>granularRepositoryRight</key>
	<string>mediocreResponseDepth</string>
	<key>histogramBesidePattern</key>
	<string>storyboardPatternSpacing</string>
	<key>immediateBaseOrientation</key>
	<string>playbackScopeBound</string>
	<key>pivotalProjectRate</key>
	<string>queueNumberCenter</string>
	<key>playbackStructureTheme</key>
	<string>mobxByAction</string>
	<key>variantBridgeBottom</key>
	<string>channelsPerComposite</string>
</dict>
</plist>
