<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryExceptTemple</key>
	<string>advancedResultInterval</string>
	<key>completerExceptNumber</key>
	<string>managerFacadeDistance</string>
	<key>factoryAlongSystem</key>
	<string>clipperDuringForm</string>
	<key>mediaUntilPrototype</key>
	<string>giftFromPattern</string>
	<key>screenPrototypeMomentum</key>
	<string>commandAlongContext</string>
</dict>
</plist>
