<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistSingletonTag</key>
	<string>titleEnvironmentInset</string>
	<key>diffableQueryDuration</key>
	<string>eagerVectorTint</string>
	<key>methodAndStructure</key>
	<string>characterFlyweightTheme</string>
</dict>
</plist>
