<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLikeBuffer</key>
	<string>errorChainTint</string>
	<key>basicNodeBrightness</key>
	<string>constMapOrientation</string>
	<key>delegateSinceValue</key>
	<string>flexibleModalMomentum</string>
	<key>enabledEventVisibility</key>
	<string>heapPlatformDistance</string>
	<key>positionAtStyle</key>
	<string>pointTempleRate</string>
	<key>previewContextIndex</key>
	<string>resourcePerPattern</string>
</dict>
</plist>
