<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCollectionKind</key>
	<string>animationOfScope</string>
	<key>basicGrainFrequency</key>
	<string>mobileCertificateBrightness</string>
	<key>constSingletonVisibility</key>
	<string>errorCommandBehavior</string>
	<key>discardedExpandedFlags</key>
	<string>cardAtBuffer</string>
	<key>offsetThroughProcess</key>
	<string>subpixelAgainstStructure</string>
	<key>positionBeyondSingleton</key>
	<string>swiftMethodMomentum</string>
	<key>projectionLikeWork</key>
	<string>radioInPhase</string>
	<key>resolverEnvironmentTail</key>
	<string>bufferLikeCommand</string>
	<key>resourceJobBorder</key>
	<string>sceneDespiteKind</string>
	<key>screenInterpreterInterval</key>
	<string>spotVariablePosition</string>
</dict>
</plist>
