<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineByLayer</key>
	<string>checklistFrameworkInteraction</string>
	<key>buttonViaVisitor</key>
	<string>intensityScopePadding</string>
	<key>managerBesideWork</key>
	<string>rowNearScope</string>
	<key>mediumHeapStyle</key>
	<string>rectLikeKind</string>
	<key>newestApertureName</key>
	<string>staticAssetHead</string>
	<key>operationNearObserver</key>
	<string>exceptionStateStyle</string>
	<key>prismaticLayerCount</key>
	<string>newestGroupTension</string>
	<key>vectorWithoutObserver</key>
	<string>easyBufferTop</string>
</dict>
</plist>
