<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedAsyncMomentum</key>
	<string>currentLogRight</string>
	<key>crudeLocalizationFrequency</key>
	<string>menuBesideForm</string>
	<key>equalizationContextSkewx</key>
	<string>entropyVariableDirection</string>
	<key>gridByScope</key>
	<string>gridStrategyAlignment</string>
	<key>immediateResultState</key>
	<string>responseContainProxy</string>
	<key>interpolationFormStatus</key>
	<string>draggableAnimationVelocity</string>
	<key>notificationVariableInteraction</key>
	<string>channelPerMode</string>
	<key>repositoryBridgeShape</key>
	<string>largeSpriteOpacity</string>
	<key>sequentialPainterCenter</key>
	<string>sizedboxViaLevel</string>
	<key>touchAmongJob</key>
	<string>threadAroundFunction</string>
</dict>
</plist>
