<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorThroughValue</key>
	<string>routeFrameworkTheme</string>
	<key>animatedcontainerVisitorCenter</key>
	<string>resourceStateDensity</string>
	<key>baseStyleSpacing</key>
	<string>synchronousGramDelay</string>
	<key>equipmentAmongFlyweight</key>
	<string>tableVersusBuffer</string>
	<key>otherControllerLocation</key>
	<string>accordionChapterOffset</string>
	<key>pageviewStrategyBottom</key>
	<string>marginAsShape</string>
	<key>protectedResultTail</key>
	<string>transformerSystemTension</string>
	<key>scaleCommandCenter</key>
	<string>sequentialIntensityOrientation</string>
	<key>unactivatedGramFlags</key>
	<string>constraintIncludeNumber</string>
</dict>
</plist>
