<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousMediaVisible</key>
	<string>chartAtTask</string>
	<key>completerFormRotation</key>
	<string>singletonProcessLeft</string>
	<key>constInterfacePosition</key>
	<string>symbolThanActivity</string>
	<key>effectDecoratorBehavior</key>
	<string>eventWithStructure</string>
	<key>offsetNearBridge</key>
	<string>expandedInChain</string>
	<key>responsivePositionIndex</key>
	<string>pageviewTaskDuration</string>
	<key>reusableCoordinatorTension</key>
	<string>sharedGridRate</string>
	<key>semanticEqualizationMode</key>
	<string>logarithmObserverBorder</string>
	<key>timerWithoutInterpreter</key>
	<string>subtleNavigationForce</string>
</dict>
</plist>
