<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaUntilEnvironment</key>
	<string>optimizerTypeStatus</string>
	<key>animatedcontainerAwayProcess</key>
	<string>sensorInsideAdapter</string>
	<key>configurationAdapterSpeed</key>
	<string>adaptiveIsolateContrast</string>
	<key>directlyEffectSaturation</key>
	<string>timerStageOffset</string>
	<key>flexShapeValidation</key>
	<string>mobileStackVelocity</string>
	<key>intensityUntilOperation</key>
	<string>modalVarSpacing</string>
	<key>resourceAsChain</key>
	<string>sensorAwayEnvironment</string>
	<key>significantGestureMomentum</key>
	<string>ignoredProviderHead</string>
</dict>
</plist>
