<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveChapterContrast</key>
	<string>standaloneLoopOrientation</string>
	<key>missedListenerAlignment</key>
	<string>instructionInterpreterInteraction</string>
	<key>requestAsFlyweight</key>
	<string>lastFactoryPosition</string>
	<key>semanticScrollValidation</key>
	<string>boxDespitePlatform</string>
</dict>
</plist>
