<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missedRowTension</key>
	<string>navigatorBeyondBuffer</string>
	<key>seamlessAwaitOpacity</key>
	<string>modalAmongTask</string>
	<key>techniquePatternCoord</key>
	<string>entityAboutAdapter</string>
	<key>tickerMediatorFrequency</key>
	<string>grainAsPhase</string>
</dict>
</plist>
