<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorViaAction</key>
	<string>persistentPageviewBottom</string>
	<key>cellUntilBuffer</key>
	<string>featurePlatformInterval</string>
	<key>delegateKindInteraction</key>
	<string>sustainableCoordinatorFlags</string>
	<key>grainSingletonSpacing</key>
	<string>unsortedCollectionMargin</string>
	<key>notificationInsideFacade</key>
	<string>channelsAndComposite</string>
	<key>rectContextBottom</key>
	<string>resultKindBehavior</string>
	<key>richtextAsParameter</key>
	<string>hardAlphaType</string>
	<key>specifyMissionHead</key>
	<string>prevGroupAcceleration</string>
</dict>
</plist>
