<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCursorVelocity</key>
	<string>resilientHashContrast</string>
	<key>behaviorParamAppearance</key>
	<string>reductionNumberHue</string>
	<key>concreteContainerFlags</key>
	<string>utilValueValidation</string>
	<key>delicateTextAppearance</key>
	<string>smartRowDelay</string>
	<key>remainderSinceParameter</key>
	<string>vectorJobSaturation</string>
	<key>scalePerCycle</key>
	<string>gemAroundStrategy</string>
	<key>scrollableMonsterOffset</key>
	<string>exceptionPatternFeedback</string>
	<key>topicParamVisibility</key>
	<string>lostFeatureFlags</string>
</dict>
</plist>
