<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAgainstProxy</key>
	<string>axisOrAdapter</string>
	<key>finalDurationTail</key>
	<string>singletonExceptLayer</string>
	<key>flexibleTableResponse</key>
	<string>remainderLayerInterval</string>
	<key>interactorAmongMode</key>
	<string>segueStageMode</string>
	<key>intermediateModelName</key>
	<string>isolateViaStrategy</string>
	<key>mediaSystemTheme</key>
	<string>normEnvironmentFrequency</string>
	<key>progressbarAtFramework</key>
	<string>menuThanParam</string>
	<key>sliderStyleBound</key>
	<string>lostConsumerFeedback</string>
	<key>uniformGradientFlags</key>
	<string>otherArithmeticShape</string>
</dict>
</plist>
