<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDecorationTension</key>
	<string>grayscaleTaskVisibility</string>
	<key>currentSliderDirection</key>
	<string>navigationVersusMediator</string>
	<key>euclideanObserverSaturation</key>
	<string>euclideanMediaqueryAlignment</string>
	<key>heapLevelName</key>
	<string>requestUntilMemento</string>
	<key>popupActionMode</key>
	<string>animatedMemberMomentum</string>
	<key>specifierPrototypePadding</key>
	<string>buttonPerStructure</string>
	<key>unactivatedMonsterSize</key>
	<string>deferredGrainStyle</string>
</dict>
</plist>
