<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushProcessDuration</key>
	<string>navigatorViaAdapter</string>
	<key>commonProviderVelocity</key>
	<string>chapterParameterHead</string>
	<key>factoryPerPhase</key>
	<string>staticLayerBound</string>
	<key>iconVisitorCenter</key>
	<string>listenerVarStatus</string>
	<key>interpolationLevelType</key>
	<string>operationCycleDensity</string>
</dict>
</plist>
