<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellDespiteComposite</key>
	<string>scrollOrPattern</string>
	<key>crucialMobileState</key>
	<string>permanentSegmentFeedback</string>
	<key>documentValueFormat</key>
	<string>captionMethodRotation</string>
	<key>hashFromKind</key>
	<string>drawerAgainstBridge</string>
	<key>overlayInParameter</key>
	<string>arithmeticViewFlags</string>
	<key>priorProviderSpacing</key>
	<string>curveShapeAlignment</string>
	<key>singleMediaSize</key>
	<string>binaryStateType</string>
	<key>zoneLevelVelocity</key>
	<string>mutableBuilderTint</string>
</dict>
</plist>
