<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintFormStyle</key>
	<string>storeAgainstSingleton</string>
	<key>controllerSingletonRate</key>
	<string>sessionModeInset</string>
	<key>exceptionModeSaturation</key>
	<string>projectionModeDelay</string>
	<key>fusedNavigatorName</key>
	<string>materialLogarithmTension</string>
	<key>interactorAmongSystem</key>
	<string>otherRadiusSkewx</string>
	<key>isolateViaObserver</key>
	<string>reducerTypeCoord</string>
	<key>labelStyleAppearance</key>
	<string>blocAwayLevel</string>
	<key>skinDuringCommand</key>
	<string>workflowAndMemento</string>
	<key>tableOfValue</key>
	<string>rowVarBrightness</string>
</dict>
</plist>
