<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleColumnAlignment</key>
	<string>scaffoldPrototypeDirection</string>
	<key>associatedBrushOffset</key>
	<string>curveAgainstNumber</string>
	<key>listenerContainJob</key>
	<string>segmentAwayParameter</string>
	<key>mobileScopeContrast</key>
	<string>missionAboutValue</string>
	<key>otherLocalizationTag</key>
	<string>injectionPlatformEdge</string>
	<key>resourceSystemSkewy</key>
	<string>drawerAboutContext</string>
</dict>
</plist>
