<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineKindKind</key>
	<string>baselineDecoratorBottom</string>
	<key>gestureShapeVisibility</key>
	<string>builderAroundKind</string>
	<key>independentUsecaseDuration</key>
	<string>switchParameterTint</string>
	<key>overlayModeForce</key>
	<string>keyHeroCoord</string>
	<key>resilientDependencySize</key>
	<string>standaloneEquipmentVisibility</string>
	<key>scrollableTaskVisibility</key>
	<string>giftLevelIndex</string>
	<key>stampUntilType</key>
	<string>monsterContainTask</string>
</dict>
</plist>
