<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityVarDirection</key>
	<string>controllerPerShape</string>
	<key>intensityWithFlyweight</key>
	<string>pinchableSceneMargin</string>
	<key>iterativeRouterBrightness</key>
	<string>statefulBesideVisitor</string>
	<key>mobileAboutStrategy</key>
	<string>navigatorMementoVisible</string>
	<key>zoneInsideFacade</key>
	<string>opaqueExponentBound</string>
</dict>
</plist>
