<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBuilderAcceleration</key>
	<string>blocInterpreterMargin</string>
	<key>directSubpixelDensity</key>
	<string>animationBridgeType</string>
	<key>interfaceShapeTint</key>
	<string>visiblePageviewAlignment</string>
	<key>layoutThroughBridge</key>
	<string>resultSinceKind</string>
	<key>metadataViaFlyweight</key>
	<string>draggableListenerIndex</string>
	<key>projectAroundOperation</key>
	<string>presenterSystemSaturation</string>
	<key>responseEnvironmentLocation</key>
	<string>uniqueImageFeedback</string>
	<key>smartActionBound</key>
	<string>effectAsAction</string>
	<key>visibleObserverDelay</key>
	<string>effectPatternState</string>
</dict>
</plist>
