<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAndJob</key>
	<string>resilientBuilderBehavior</string>
	<key>missedListenerLeft</key>
	<string>commandAwayComposite</string>
	<key>providerFunctionScale</key>
	<string>semanticTweenDelay</string>
	<key>sinkCycleDistance</key>
	<string>checkboxAmongPrototype</string>
	<key>smartThreadValidation</key>
	<string>stepIncludeChain</string>
</dict>
</plist>
